@import './theme';
$font-family: -apple-system, "Lucida Grande", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", "メイリオ", Meiryo, Helvetica, Arial, sans-serif;

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    @include media-breakpoint-down(sm) {
        width: 5px;
        height: 5px;
    }
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
}

html, body {
    height: 100%;
}
body {
    text-size-adjust: 100%;
    -webkit-touch-callout: none;
    user-select: none;
    background-color: #FFF;
    background-attachment: fixed;
    font-size: 16px;
    color: #333;
    font-family: $font-family;
}

code {
    line-height: 1.6;
}

h1, h2, h3 {
    font-weight: normal;
    line-height: 1.4;
}
a {
    color: #FFF;
    text-decoration: none;
    &:focus, &:hover {
        color: inherit;
        text-decoration: none;
    }
}
p {
    line-height: 1.6;
    a {
        color: #0074A9;
        text-decoration: underline;
        &:focus, &:hover {
            color: #0074A9;
        }
    }
}
div {
    line-height: 1;
}

button {
    cursor: pointer;
    white-space: normal !important;
}

.contents-width {
    max-width: 960px;
}

.select-text {
    -webkit-touch-callout: default;
    user-select: all;
}

.text-x-small {
    font-size: 10px;
}
.text-small {
    font-size: 0.8rem;
}
.text-large {
    font-size: 1.4rem;
}
.text-x-large {
    font-size: 2rem;
}
.text-xx-large {
    font-size: 2.5rem;
}

.d-grid {
    display: grid !important;
}

.not-event {
    pointer-events: none;
}

.pointer {
    cursor: pointer;
}

.buttons {
    max-width: 400px;
}

// color
.bg-white {
    background-color: #FFF !important;
}
.text-white {
    color: #FFF !important;
}
.border-white {
    border-color: #FFF !important;
}
.bg-black {
    background-color: #000 !important;
}
.text-black {
    color: #000 !important;
}
.border-black {
    border-color: #000 !important;
}
.bg-dark-gray {
    background-color: #666 !important;
}
.text-dark-gray {
    color: #666 !important;
}
.border-dark-gray {
    border-color: #666 !important;
}
.bg-gray {
    background-color: #AAA !important;
}
.text-gray {
    color: #AAA !important;
}
.border-gray {
    border-color: #AAA !important;
}
.bg-light-gray {
    background-color: #EEE !important;
}
.text-light-gray {
    color: #EEE !important;
}
.border-light-gray {
    border-color: #EEE !important;
}