@import './theme';


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
}

html, body {
    height: 100%;
    font-family: $font-family;
    font-size: $body-font-size;
    font-display: swap;
    touch-action: none;
}

html {
    background-color: #000;
}

body{
    text-size-adjust: 100%;
    -webkit-touch-callout: none;
    user-select: none;
    background-attachment: fixed;
    background-color: $body-bg;
}

body,
app-root {
    display: block;
    transform-origin: 0 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: relative;
}


.wrapper {
    height: 100%;
}

::placeholder {
    opacity: 0.75 !important;
}

.form-control[readonly] {
    background-color: #FFF;
}

code {
    line-height: 1.6;
    -webkit-touch-callout: default;
    user-select: all;
}

h1, h2, h3 {
    font-weight: normal;
    line-height: 1.4;
}
a {
    color: #FFF;
    text-decoration: none;
    &:focus, &:hover {
        color: inherit;
        text-decoration: none;
    }
}
p {
    line-height: 1.4;
    a {
        color: #0074A9;
        text-decoration: underline;
        &:focus, &:hover {
            color: #0074A9;
        }
    }
}
div {
    line-height: 1;
}

select {
    appearance: none;
    -webkit-appearance: none;
	-moz-appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDEuNzMgMTIyLjc0Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6IzNlM2EzOTt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPuOCouOCu+ODg+ODiCA5PC90aXRsZT48ZyBpZD0i44Os44Kk44Ok44O8XzIiIGRhdGEtbmFtZT0i44Os44Kk44Ok44O8IDIiPjxnIGlkPSLjg6zjgqTjg6Tjg7xfMS0yIiBkYXRhLW5hbWU9IuODrOOCpOODpOODvCAxIj48cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMTQxLjczIDAgMCAwIDcwLjg2IDEyMi43NCAxNDEuNzMgMCIvPjwvZz48L2c+PC9zdmc+);
    background-position: calc(100% - 0.5rem) center;
    background-size: 0.5rem;
    background-repeat: no-repeat;
    padding-right: 1.5rem !important;
}

textarea {
    width: 100%;
    height: 5rem;
    line-height: 1.6;
}

button {
    cursor: pointer;
    white-space: normal !important;
}

.overflow-hidden {
    overflow: hidden;
}

.form-control {
    height: 2.4rem;
}
.contents-width {
    max-width: 1024px;
}

.select-text {
    -webkit-touch-callout: default;
    user-select: all;
}

.scroll-vertical {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

.scroll-horizontal {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

.text-x-small {
    font-size: 0.65rem;
}
.text-small {
    font-size: 0.8rem;
}
.text-large {
    font-size: 1.4rem;
}
.text-x-large {
    font-size: 2rem;
}
.text-xx-large {
    font-size: 2.5rem;
}

.text-overflow-ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.d-grid {
    display: grid !important;
}

.not-event {
    pointer-events: none;
}

.pointer {
    cursor: pointer;
}


.opacity-100 {
    opacity: 1;
}

.opacity-75 {
    opacity: 0.75;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-0 {
    opacity: 0;
}

// color
.bg-transparent {
    background-color: transparent !important;
}
.bg-white {
    background-color: #FFF !important;
}
.text-white {
    color: #FFF !important;
}
.border-white {
    border-color: #FFF !important;
}
.bg-black {
    background-color: #000 !important;
}
.text-black {
    color: #000 !important;
}
.border-black {
    border-color: #000 !important;
}
.bg-dark-gray {
    background-color: $dark-gray !important;
}
.text-dark-gray {
    color: $dark-gray !important;
}
.border-dark-gray {
    border-color: $dark-gray !important;
}
.bg-gray {
    background-color: $gray !important;
}
.text-gray {
    color: $gray !important;
}
.border-gray {
    border-color: $gray !important;
}
.bg-light-gray {
    background-color: $light-gray !important;
}
.text-light-gray {
    color: $light-gray !important;
}
.border-light-gray {
    border-color: $light-gray !important;
}

// pagination
.page-item {
    &.active {
        .page-link {
            background-color: theme-color('primary');
            border-color: $gray;
        }
    }
    &.disabled {
        .page-link {
            display: none;
        }
    }
    .page-link {
        color: theme-color('primary');
        border-color: $gray;
    }
}

.intl-tel-input {
    display: block !important;
}

.datepicker-append {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.container {
    max-width: 100%;
}

.btn {
    border-radius: 0;
}

.contents {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0px;
    padding-bottom: 120px;
}

.modal-backdrop {
    width: 100%;
    height: 100%;
}

.modal-open .modal {
    overflow: hidden;
}