@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss';

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
$font-family: -apple-system, 'Titillium Web', 'Lucida Grande',
    'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック',
    'メイリオ', Meiryo, Helvetica, Arial, sans-serif;

$theme-colors: (
    primary: #0175c2,
    secondary: $secondary,
    success: #0081cc,
    info: $info,
    warning: #f29600,
    danger: #e50012,
    light: #fff,
    dark: $gray-800,
);

$dark-gray: #444;
$gray: #ddd;
$light-gray: #eee;

$body-bg: #fff;
$body-color: #333;

$box-shadow-sm: 0 0 0.25rem rgba(0, 0, 0, 0.7);
$border-width: 2px;
$border-color: #ddd;
$btn-border-width: 2px;

$input-padding-y: 1rem;
$input-padding-x: 1rem;
$input-height: calc(1.5em + ($input-padding-y * 2) + 2px);
$input-border-width: 2px;
$input-border-color: $gray;

$grid-breakpoints: (
    xs: 0,
    sm: 769px,
    md: 1081px,
    lg: 1392px,
    xl: 1920px,
);

$container-max-widths: (
    sm: 720px,
    md: 1028px,
    lg: 1360px,
    xl: 1860px,
);

$modal-xl: 1340px;
$modal-lg: 1140px;
$modal-md: 900px;
$modal-sm: 600px;

html,
body {
    font-size: 32px;
    @include media-breakpoint-down(lg) {
        font-size: 20px;
    }
    @include media-breakpoint-down(md) {
        font-size: 16px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 24px;
    }
    @include media-breakpoint-down(xs) {
        font-size: 16px;
    }
}
