@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.movieticket > div,
.movieticket > p {
    width: 50%;
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}


ul.d-flex {
    margin: -0.5rem;
    li {
        width: 50%;
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
}