<app-header [step]="1">
    <app-page-title title="{{ 'purchase.event.ticket.title' | translate }}"></app-page-title>
    <app-transaction-remaining-time class="ml-auto"></app-transaction-remaining-time>
</app-header>

<div class="contents">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-9 mh-100 scroll-vertical px-0">
                <div class="container py-4 px-3">
                    <ul class="row align-items-center mb-4 px-5 px-md-3">
                        <li *ngFor="let reservation of (purchase | async)?.reservations" class="col-12 col-md-6">
                            <div class="container px-3 py-2">
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <p *ngIf="reservation.seat?.seatNumber" class="">
                                            {{ reservation.seat?.seatNumber }}
                                        </p>
                                    </div>
                                    <div class="col-10">
                                        <div>
                                            <button *ngIf="reservation.ticket === undefined" type="button"
                                                (click)="openTicketList(reservation)"
                                                class="btn btn-block btn-custom-secondary py-3 shadow-sm">{{
                                                'purchase.event.ticket.unselected' | translate }}</button>
                                            <button *ngIf="reservation.ticket !== undefined" type="button"
                                                (click)="openTicketList(reservation)"
                                                class="btn btn-block btn-custom-success py-3">
                                                <div class="d-flex justify-content-between align-items-center"
                                                    *ngFor="let priceComponent of reservation.ticket?.ticketOffer.priceSpecification.priceComponent">
                                                    <p class="w-50 text-left">{{ priceComponent.name | changeLanguage }}
                                                    </p>
                                                    <p class="w-50 text-right">
                                                        <span>{{ priceComponent.price | currency :
                                                            priceComponent.priceCurrency }}</span>
                                                        <!--
                                                        --><span *ngIf="priceComponent?.referenceQuantity?.value">{{
                                                            'common.referenceQuantityValue' | translate: { value:
                                                            priceComponent?.referenceQuantity?.value } }}</span>
                                                    </p>
                                                </div>
                                                <div class="d-flex justify-content-between align-items-center"
                                                    *ngFor="let addOn of reservation.ticket?.addOn;">
                                                    <p class="w-50 text-left">
                                                        {{ addOn.priceSpecification.name | changeLanguage }}</p>
                                                    <p class="w-50 text-right">
                                                        <span>{{ addOn.priceSpecification.price | currency :
                                                            addOn.priceSpecification.priceCurrency }}</span>
                                                        <!--
                                                        --><span
                                                            *ngIf="addOn.priceSpecification?.referenceQuantity?.value">{{
                                                            'common.referenceQuantityValue' | translate: { value:
                                                            addOn.priceSpecification?.referenceQuantity?.value }
                                                            }}</span>
                                                    </p>
                                                </div>
                                                <div>
                                                    <!-- <p *ngIf="reservation.ticket.ticketOffer.description" class="text-small text-left">
                                                        {{ reservation.ticket.ticketOffer.description | changeLanguage }}
                                                    </p> -->
                                                    <p *ngIf="reservation.ticket.movieTicket"
                                                        class="text-small text-left">
                                                        {{ 'modal.purchase.seatTicket.movieTicket.code' | translate }}
                                                        {{ reservation.ticket.movieTicket.identifier }}
                                                    </p>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <app-input-tickets
                        *ngIf="(purchase | async)?.screeningEventTicketOffers && (purchase | async)?.screeningEvent && movieTicketPaymentMethods"
                        [screeningEvent]="(purchase | async)?.screeningEvent"
                        [screeningEventTicketOffers]="(purchase | async)?.screeningEventTicketOffers"
                        [movieTicketPaymentMethods]="movieTicketPaymentMethods"></app-input-tickets>
                </div>
            </div>
            <div class="col-12 col-md-3 mh-100 scroll-vertical px-0">
                <app-purchase-info *ngIf="environment.VIEW_TYPE === viewType.Cinema" [purchase]="purchase | async"
                    [isAmount]="true"></app-purchase-info>
                <app-purchase-cart *ngIf="environment.VIEW_TYPE === viewType.Event" [purchase]="purchase | async"
                    [isAmount]="true" [cancel]="false"></app-purchase-cart>
            </div>
        </div>
    </div>
</div>
<app-footer [step]="1">
    <div class="col-3 col-md-2 mr-auto mr-md-0">
        <button type="button" class="btn btn-custom-secondary btn-block py-2 shadow-sm" routerLink="/">
            {{ 'common.clear' | translate }}
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button type="button" class="text-large btn btn-custom-secondary btn-block font-weight-bold shadow-sm py-3"
            routerLink="/purchase/event/seat">
            {{ 'purchase.event.ticket.prev' | translate }}
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button type="submit" class="text-large btn btn-custom-primary btn-block font-weight-bold shadow-sm py-3"
            [disabled]="(isLoading | async) || !isSelectedTicket" (click)="onSubmit()">
            {{ 'purchase.event.ticket.next' | translate }}
        </button>
    </div>
</app-footer>