<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.event.ticket.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'purchase.event.ticket.read' | translate"></p>

    <div class="mb-4">
        <p *ngIf="(purchase | async)?.scheduleDate" class="text-primary text-large mb-3">
            {{ (purchase | async)?.scheduleDate | formatDate: 'YYYY/MM/DD (ddd)' }}
        </p>
        <p *ngIf="screeningWorkEvents.length === 0" class="mb-3">
            {{ 'purchase.event.ticket.notfound' | translate }}
        </p>
        <app-purchase-performances *ngFor="let screeningWorkEvent of screeningWorkEvents"
            [screeningWorkEvent]="screeningWorkEvent" (select)="selectSchedule($event)" class="mb-3">
        </app-purchase-performances>
    </div>

    <div class="mb-4">
        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.event.cart.title' | translate }}</h2>
        <div *ngIf="(purchase | async)?.authorizeSeatReservations.length === 0">
            <p class="text-md-center">{{ 'purchase.event.cart.notfound' | translate }}</p>
        </div>
        <div *ngFor="let authorizeSeatReservation of (purchase | async)?.authorizeSeatReservations"
            class="mb-4 bg-white p-3 position-relative">
            <button type="button" class="close" aria-label="Close" (click)="removeItem(authorizeSeatReservation)">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="mb-3">
                <div class="mb-1">
                    <p class="font-weight-bold text-large pr-3">
                        {{ authorizeSeatReservation.object.event.name | changeLanguage }}</p>
                    <p class="text-small"
                        *ngIf="authorizeSeatReservation.object.event.superEvent.headline && (authorizeSeatReservation.object.event.superEvent.headline | changeLanguage)">
                        {{ authorizeSeatReservation.object.event.superEvent.headline | changeLanguage }}</p>
                    <p class="text-small"
                        *ngIf="authorizeSeatReservation.object.event.superEvent.description && (authorizeSeatReservation.object.event.superEvent.description | changeLanguage)">{{
                        authorizeSeatReservation.object.event.superEvent.description | changeLanguage }}</p>
                </div>
                <p class="mb-1">
                    {{ authorizeSeatReservation.object.event.startDate | formatDate: 'MM/DD(ddd) HH:mm' }}-{{ authorizeSeatReservation.object.event.endDate | formatDate: 'HH:mm' }}
                </p>
                <p class="text-small mb-1">
                    <span class="theater-name">
                        {{ authorizeSeatReservation.object.event.superEvent.location.name | changeLanguage }}
                    </span>
                    <span class="screen-name">
                        &nbsp;/&nbsp;<span *ngIf="authorizeSeatReservation.object.event.location.address | changeLanguage" class="mr-2">{{ authorizeSeatReservation.object.event.location.address | changeLanguage }}</span>{{ authorizeSeatReservation.object.event.location.name | changeLanguage }}
                    </span>
                    <span
                        *ngIf="authorizeSeatReservation.object.event.workPerformed?.duration && moment.duration(authorizeSeatReservation.object.event.workPerformed?.duration).asMinutes() > 0">
                        &nbsp;/&nbsp;<span class="mr-1">{{ 'common.duration' | translate }}</span>{{ moment.duration(authorizeSeatReservation.object.event.workPerformed?.duration).asMinutes() }}{{ 'common.date.minute' | translate }}
                    </span>
                </p>
                <!-- <button type="button" class="btn btn-link btn-sm ml-auto p-0"
                    (click)="removeItem(authorizeSeatReservation)">{{ 'common.remove' | translate }}</button> -->
            </div>
            <hr class="mb-3">

            <app-item-list [authorizeSeatReservations]="authorizeSeatReservation?.result?.responseBody.object.reservations"></app-item-list>
            
        </div>
    </div>

    <div class="buttons mx-auto text-center">
        <button type="submit" [disabled]="isLoading | async" class="btn btn-primary btn-block py-3 mb-3"
            (click)="onSubmit()">{{ 'purchase.event.cart.next' | translate }}</button>
        <button type="button" class="btn btn-link"
            routerLink="/purchase/event/schedule">{{ 'purchase.event.ticket.prev' | translate }}</button>
    </div>
</div>