
:host {
    display: block;
}

.header {
    height: 60px;
}

.logo {
    height: 50%;
}

.menu-button {
    width: 26px;
    height: 20px;
    position: relative;
    div {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -0.5px;
        width: 100%;
        height: 1px;
        &:first-child {
            top: 0;
            margin-top: 0;
        }
        &:last-child {
            top: auto;
            bottom: 0;
            margin-top: 0;
        }
    }
    &.active {
        div {
            opacity: 0;
            &:first-child {
                opacity: 1;
                top: 50%;
                margin-top: -1px;
                transform: rotate(45deg);
            }
            &:last-child {
                opacity: 1;
                top: 50%;
                bottom: initial;
                margin-top: -1px;
                transform: rotate(-45deg);
            }
        }
    }
}


