<div class="p-3 scroll-vertical text-small">
    <div class="py-3 border-bottom border-gray">
        <div class="row align-items-center">
            <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.reservationNumber' | translate }}]</p>
            <p class="col-md-8">{{ reservation.reservationNumber }}</p>
        </div>
    </div>
    <div class="py-3 border-bottom border-gray">
        <div class="row align-items-center">
            <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.reservationId' | translate }}]</p>
            <p class="col-md-8">{{ reservation.id }}</p>
        </div>
    </div>

    <div class="py-3 border-bottom border-gray">
        <div class="row align-items-center">
            <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.event' | translate }}]</p>
            <div class="col-md-8">
                <p *ngIf="(reservation.reservationFor.name | changeLanguage).length > 0">{{
                    reservation.reservationFor.name | changeLanguage | slice:0:10 }}</p>
                <p *ngIf="!((reservation.reservationFor.name | changeLanguage).length > 0)">{{
                    reservation.reservationFor.name | changeLanguage }}</p>
                <p>
                    <span class="theater-name">{{ reservation.reservationFor.superEvent.location.name | changeLanguage }}</span>
                    <span class="screen-name">&nbsp;/&nbsp;<span *ngIf="reservation.reservationFor.location.address | changeLanguage" class="mr-2">{{ reservation.reservationFor.location.address | changeLanguage }}</span>{{ reservation.reservationFor.location.name | changeLanguage }}</span>
                </p>
                <p>{{ moment(reservation.reservationFor.startDate).format('YYYY/MM/DD (ddd) HH:mm') }}
                    -</p>
            </div>
        </div>
    </div>
    <div class="py-3 border-bottom border-gray">
        <div class="row align-items-center">
            <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.ticket' | translate }}]</p>
            <div class="col-md-8">
                <app-item-list [authorizeSeatReservations]="[reservation]"></app-item-list>
            </div>
        </div>
    </div>
    <div class="py-3 border-bottom border-gray">
        <div class="row align-items-center">
            <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.reservationStatus' | translate }}]</p>
            <p class="col-md-8">{{ reservation.reservationStatus }}</p>
        </div>
    </div>
    <div class="py-3 border-bottom border-gray">
        <div class="row align-items-center">
            <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.ticketing' | translate }}]</p>
            <p class="col-md-8">{{ reservation.checkedIn }}</p>
        </div>
    </div>
    <div class="py-3 border-bottom border-gray">
        <div class="row align-items-center">
            <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.admission' | translate }}]</p>
            <p class="col-md-8">{{ reservation.attended }}</p>
        </div>
    </div>

</div>

<div class="buttons mx-auto text-center btn-sm">
    <button type="button" class="btn btn-link" (click)="modal.hide()">{{ 'common.close' | translate }}</button>
</div>