<app-header [step]="environment.VIEW_TYPE === viewType.Cinema ? 4 : 2">
    <app-page-title *ngIf="(purchase | async)?.paymentMethod?.typeOf === paymentMethodType.Cash"
        title="{{ 'purchase.paymentReception.cash.title' | translate }}"></app-page-title>
    <app-transaction-remaining-time class="ml-auto"></app-transaction-remaining-time>
</app-header>

<div class="contents">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-9 px-0">
                <ng-container *ngIf="(purchase | async)?.paymentMethod?.typeOf === paymentMethodType.Cash">
                    <div class="py-4">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-8">
                                    <div class="container mb-4 text-large font-weight-bold">
                                        <div class="p-3 row align-items-center bg-light-gray">
                                            <p class="col-6">
                                                {{ 'purchase.paymentReception.cash.insufficient' | translate }}
                                            </p>
                                            <p class="col-6 text-right">
                                                <span *ngIf="(amount - getDeposit()) > 0">
                                                    {{ (amount - getDeposit()) | currency : 'JPY' }}
                                                </span>
                                                <span *ngIf="!((amount - getDeposit()) > 0)">
                                                    {{ 0 | currency : 'JPY' }}
                                                </span>
                                            </p>
                                        </div>
                                        <div class="p-3 row align-items-center border-bottom border-gray">
                                            <p class="col-6">
                                                {{ 'purchase.paymentReception.cash.deposit' | translate }}
                                            </p>
                                            <p class="col-6 text-right">
                                                {{ getDeposit() | currency : 'JPY' }}
                                            </p>
                                        </div>
                                        <div class="p-3 row align-items-center">
                                            <p class="col-6">
                                                {{ 'purchase.paymentReception.cash.change' | translate }}</p>
                                            <p class="col-6 text-right">
                                                <span *ngIf="(getDeposit() - amount) > 0">
                                                    {{ (getDeposit() - amount) | currency : 'JPY' }}
                                                </span>
                                                <span *ngIf="!((getDeposit() - amount) > 0)">
                                                    {{ 0 | currency : 'JPY' }}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="col-12 col-md-3 mh-100 scroll-vertical px-0">
                <app-purchase-info *ngIf="environment.VIEW_TYPE === viewType.Cinema" [purchase]="purchase | async"
                    [isAmount]="true"></app-purchase-info>
                <app-purchase-cart *ngIf="environment.VIEW_TYPE === viewType.Event" [purchase]="purchase | async"
                    [isAmount]="true" [cancel]="false"></app-purchase-cart>
            </div>
        </div>
    </div>
</div>
<app-footer [step]="environment.VIEW_TYPE === viewType.Cinema ? 4 : 2">
    <div class="col-3 col-md-2 mr-auto mr-md-0">
        <button type="button" class="btn btn-custom-secondary btn-block py-3 shadow-sm" routerLink="/">
            {{ 'common.clear' | translate }}
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button [disabled]="isLoading | async" type="button"
            class="text-large btn btn-custom-secondary btn-block font-weight-bold shadow-sm py-3" (click)="prev()">
            {{ 'purchase.paymentReception.cash.prev' | translate }}</button>
    </div>
    <div class="col-3 col-md-2">
        <button type="submit" class="text-large btn btn-custom-primary btn-block font-weight-bold shadow-sm py-3"
            [disabled]="(isLoading | async) || amount > getDeposit()" (click)="onSubmit()">
            {{ 'purchase.paymentReception.cash.next' | translate }}
        </button>
    </div>
</app-footer>