<div class="contents-width mx-auto px-3 py-5">
    <div *ngIf="(purchase | async)?.paymentMethod?.typeOf === paymentMethodType.Cash">
        <h2 class="text-large mb-4 text-center font-weight-bold">
            {{ 'purchase.paymentReception.cash.title' | translate }}
        </h2>
        <p class="mb-4 text-md-center" [innerHTML]="'purchase.paymentReception.cash.read' | translate"></p>
        <div class="bg-white px-3 mb-4">
            <div class="overflow-hidden">
                <div class="py-3 row align-items-center border-bottom border-gray">
                    <p class="mb-2 mb-md-0 col-md-4">{{ 'common.amount' | translate }}</p>
                    <p class="col-md-8">{{ amount | currency : 'JPY' }}</p>
                </div>
                <div class="py-3 row align-items-center border-bottom border-gray">
                    <p class="mb-2 mb-md-0 col-md-4">{{ 'purchase.paymentReception.cash.deposit' | translate }}</p>
                    <p class="col-md-8">{{ deposit | currency : 'JPY' }}</p>
                </div>
                <div class="py-3 row align-items-center">
                    <p class="mb-2 mb-md-0 col-md-4">{{ 'purchase.paymentReception.cash.change' | translate }}</p>
                    <p class="col-md-8">{{ (deposit - amount) | currency : 'JPY' }}</p>
                </div>
            </div>
        </div>
        <div class="buttons mx-auto text-center">
            <button type="button" class="btn btn-primary btn-block py-3 mb-3"
                [disabled]="(isLoading | async) || amount > deposit" (click)="onSubmit()">{{ 'purchase.paymentReception.cash.next' | translate }}</button>
            <button type="button" class="btn btn-link" (click)="prev()">{{ 'purchase.paymentReception.cash.prev' | translate }}</button>
        </div>
    </div>
    <div *ngIf="(purchase | async)?.paymentMethod?.typeOf === paymentMethodType.CreditCard">
        <h2 class="text-large mb-4 text-center font-weight-bold">
            {{ 'purchase.paymentReception.creditcard.title' | translate }}
        </h2>
        <p class="mb-4 text-md-center" [innerHTML]="'purchase.paymentReception.creditcard.read' | translate"></p>
    </div>
    <div *ngIf="(purchase | async)?.paymentMethod?.typeOf === paymentMethodType.EMoney">
        <h2 class="text-large mb-4 text-center font-weight-bold">
            {{ 'purchase.paymentReception.eMoney.title' | translate }}
        </h2>
        <p class="mb-4 text-md-center" [innerHTML]="'purchase.paymentReception.eMoney.read' | translate"></p>
    </div>
    <div *ngIf="(purchase | async)?.paymentMethod?.typeOf === paymentMethodType.Others
    && (purchase | async)?.paymentMethod?.category === 'code'">
        <h2 class="text-large mb-4 text-center font-weight-bold">
            {{ 'purchase.paymentReception.code.title' | translate }}
        </h2>
        <p class="mb-4 text-md-center" [innerHTML]="'purchase.paymentReception.code.read' | translate"></p>
    </div>
</div>