<app-header>
    <app-page-title title="{{ 'setting.title' | translate }}"></app-page-title>
</app-header>
<div class="contents">
    <div class="container h-100 p-3">
        <div class="row h-100">
            <div class="col-9 h-100 scroll-vertical">
                <p
                    class="text-large font-weight-bold bg-light-gray border-left border-white-bold border-primary p-3 mb-4">
                    {{ 'setting.application.title' | translate }}
                </p>
                <app-input-app *ngIf="inputData?.app" [theaters]="theaters" [data]="inputData?.app"
                    (valueChanges)="appForm = $event"></app-input-app>
                <p
                    class="text-large font-weight-bold bg-light-gray border-left border-white-bold border-primary p-3 mb-4">
                    {{ 'setting.device.title' | translate }}
                </p>
                <app-input-device *ngIf="inputData?.device" [data]="inputData?.device"
                    [isConnected]="epsonEPOSService.cashchanger.isConnected()" (valueChanges)="deviceForm = $event"
                    (print)="print()" (payment)="payment()" (cashchanger)="cashchanger($event)">
                </app-input-device>
                <p
                    class="text-large font-weight-bold bg-light-gray border-left border-white-bold border-primary p-3 mb-4">
                    {{ 'setting.basic.title' | translate }}
                </p>
                <app-input-customer *ngIf="inputData" [profile]="inputData.profile"
                    [language]="(user | async)?.language" (valueChanges)="profileForm = $event">
                </app-input-customer>

            </div>
            <div class="col-3">
                <button type="button" class="btn btn-custom-primary btn-block font-weight-bold" (click)="signOut()">{{
                    'setting.signOut'
                    |
                    translate }}</button>
            </div>
        </div>
    </div>
</div>
<app-footer>
    <div class="container h-100">
        <div class="row align-items-center justify-content-end h-100">
            <div class="col-6">

            </div>
            <div class="col-2">
                <button type="button" class="btn btn-custom-secondary btn-block py-2 shadow-sm" routerLink="/">
                    {{ 'common.clear' | translate }}
                </button>
            </div>
            <div class="col-2">
                <button type="button"
                    class="text-large btn btn-custom-secondary btn-block font-weight-bold shadow-sm py-3"
                    [routerLink]="environment.BASE_URL">
                    {{ 'setting.prev' | translate }}
                </button>
            </div>
            <div class="col-2">
                <button type="submit"
                    class="text-large btn btn-custom-primary btn-block font-weight-bold shadow-sm py-3"
                    [disabled]="isLoading | async" (click)="onSubmit()">
                    {{ 'setting.next' | translate }}
                </button>
            </div>
        </div>
    </div>
</app-footer>