<div class="contents-width mx-auto px-3 py-5">
    <form *ngIf="settingForm" [formGroup]="settingForm">
        <div class="mb-4">
            <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'setting.title' | translate }}</h2>
            <p class="mb-4 text-md-center" [innerHTML]="'setting.read' | translate"></p>
            <div class="p-3 bg-white">

                <div class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">{{ 'common.theater' | translate }}<span
                                class="badge badge-danger ml-2">{{ 'common.required' | translate }}</span></p>
                        <div class="col-md-8">
                            <select class="form-control" formControlName="theaterBranchCode" (change)="changePosList()">
                                <option value="">{{ 'setting.unselected' | translate }}</option>
                                <option *ngFor="let theater of theaters" [value]="theater.branchCode">
                                    {{ theater.name | changeLanguage }}</option>
                            </select>
                            <div *ngIf="settingForm.controls.theaterBranchCode.invalid && settingForm.controls.theaterBranchCode.touched"
                                class="mt-2">
                                <p *ngIf="settingForm.controls.theaterBranchCode.errors?.required" class="text-danger">
                                    {{ 'form.validation.unselected' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">{{ 'setting.pos' | translate }}</p>
                        <div class="col-md-8">
                            <select class="form-control" formControlName="posId">
                                <option value="">{{ 'setting.unselected' | translate }}</option>
                                <option *ngFor="let pos of posList" [value]="pos.id">{{ pos.name }}</option>
                            </select>
                            <div *ngIf="settingForm.controls.posId.invalid && settingForm.controls.posId.touched"
                                class="mt-2">
                                <p *ngIf="settingForm.controls.posId.errors?.required" class="text-danger">
                                    {{ 'form.validation.unselected' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="settingForm.controls.familyName" class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">{{ 'common.familyName' | translate }}<span
                                *ngIf="isRequired('familyName')"
                                class="badge badge-danger ml-2">{{ 'common.required' | translate }}</span></p>
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="familyName" placeholder="モーション">
                            <div *ngIf="settingForm.controls.familyName.invalid && settingForm.controls.familyName.touched"
                                class="mt-2">
                                <p *ngIf="settingForm.controls.familyName.errors?.required" class="text-danger">
                                    {{ 'form.validation.required' | translate }}</p>
                                <p *ngIf="settingForm.controls.familyName.errors?.maxlength" class="text-danger">
                                    {{ 'form.validation.maxlength' | translate: { value: settingForm.controls.familyName.errors?.maxlength.requiredLength } }}
                                </p>
                                <p *ngIf="settingForm.controls.familyName.errors?.pattern" class="text-danger">
                                    {{ 'form.validation.fullKana' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="settingForm.controls.givenName" class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">{{ 'common.givenName' | translate }}<span
                                *ngIf="isRequired('givenName')"
                                class="badge badge-danger ml-2">{{ 'common.required' | translate }}</span></p>
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="givenName" placeholder="ピクチャー">
                            <div *ngIf="settingForm.controls.givenName.invalid && settingForm.controls.givenName.touched"
                                class="mt-2">
                                <p *ngIf="settingForm.controls.givenName.errors?.required" class="text-danger">
                                    {{ 'form.validation.required' | translate }}</p>
                                <p *ngIf="settingForm.controls.givenName.errors?.maxlength" class="text-danger">
                                    {{ 'form.validation.maxlength' | translate: { value: settingForm.controls.givenName.errors?.maxlength.requiredLength } }}
                                </p>
                                <p *ngIf="settingForm.controls.givenName.errors?.pattern" class="text-danger">
                                    {{ 'form.validation.fullKana' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="settingForm.controls.email" class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">{{ 'common.email' | translate }}<span
                                *ngIf="isRequired('email')"
                                class="badge badge-danger ml-2">{{ 'common.required' | translate }}</span></p>
                        <div class="col-md-8">
                            <input type="email" class="form-control" formControlName="email"
                                placeholder="motionpicture@example.jp">
                            <div *ngIf="settingForm.controls.email.invalid && settingForm.controls.email.touched"
                                class="mt-2">
                                <p *ngIf="settingForm.controls.email.errors?.required" class="text-danger">
                                    {{ 'form.validation.required' | translate }}</p>
                                <p *ngIf="settingForm.controls.email.errors?.maxlength" class="text-danger">
                                    {{ 'form.validation.maxlength' | translate: { value: settingForm.controls.email.errors?.maxlength.requiredLength } }}
                                </p>
                                <p *ngIf="settingForm.controls.email.errors?.email" class="text-danger">
                                    {{ 'form.validation.email' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="settingForm.controls.telephone" class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">{{ 'common.telephone' | translate }}<span
                                *ngIf="isRequired('telephone')"
                                class="badge badge-danger ml-2">{{ 'common.required' | translate }}</span></p>
                        <div class="col-md-8">
                            <ngx-intl-tel-input #intlTelInput [preferredCountries]="[CountryISO.Japan]"
                                [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true"
                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Japan" [maxLength]="15"
                                [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [separateDialCode]="false"
                                name="telephone" formControlName="telephone"></ngx-intl-tel-input>
                            <!-- <input type="tel" class="form-control" formControlName="telephone" placeholder="0362778824"> -->
                            <div *ngIf="settingForm.controls.telephone.invalid && settingForm.controls.telephone.touched"
                                class="mt-2">
                                <p *ngIf="settingForm.controls.telephone.errors?.required" class="text-danger">
                                    {{ 'form.validation.required' | translate }}</p>
                                <p *ngIf="settingForm.controls.telephone.errors?.minlength" class="text-danger">
                                    {{ 'form.validation.minlength' | translate: { value: settingForm.controls.telephone.errors?.minlength.requiredLength } }}
                                </p>
                                <p *ngIf="settingForm.controls.telephone.errors?.maxlength" class="text-danger">
                                    {{ 'form.validation.minlength' | translate: { value: settingForm.controls.telephone.errors?.maxlength.requiredLength } }}
                                </p>
                                <!-- <p *ngIf="settingForm.controls.telephone.errors?.telephone" class="text-danger">
                                    {{ 'form.validation.telephone' | translate }}</p> -->
                                <p *ngIf="settingForm.controls.telephone.errors?.validatePhoneNumber"
                                    class="text-danger">
                                    {{ 'form.validation.telephone' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="settingForm.controls.age" class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">{{ 'common.age' | translate }}<span
                                *ngIf="isRequired('age')"
                                class="badge badge-danger ml-2">{{ 'common.required' | translate }}</span></p>
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="age" placeholder="">
                            <div *ngIf="settingForm.controls.age.invalid && settingForm.controls.age.touched"
                                class="mt-2">
                                <p *ngIf="settingForm.controls.age.errors?.required" class="text-danger">
                                    {{ 'form.validation.required' | translate }}</p>
                                <p *ngIf="settingForm.controls.age.errors?.minlength" class="text-danger">
                                    {{ 'form.validation.minlength' | translate: { value: settingForm.controls.age.errors?.minlength.requiredLength } }}
                                </p>
                                <p *ngIf="settingForm.controls.age.errors?.maxlength" class="text-danger">
                                    {{ 'form.validation.minlength' | translate: { value: settingForm.controls.age.errors?.maxlength.requiredLength } }}
                                </p>
                                <p *ngIf="settingForm.controls.age.errors?.pattern" class="text-danger">
                                    {{ 'form.validation.pattern' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="settingForm.controls.address" class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">{{ 'common.address' | translate }}<span
                                *ngIf="isRequired('address')"
                                class="badge badge-danger ml-2">{{ 'common.required' | translate }}</span></p>
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="address" placeholder="">
                            <div *ngIf="settingForm.controls.address.invalid && settingForm.controls.address.touched"
                                class="mt-2">
                                <p *ngIf="settingForm.controls.address.errors?.required" class="text-danger">
                                    {{ 'form.validation.required' | translate }}</p>
                                <p *ngIf="settingForm.controls.address.errors?.minlength" class="text-danger">
                                    {{ 'form.validation.minlength' | translate: { value: settingForm.controls.age.errors?.minlength.requiredLength } }}
                                </p>
                                <p *ngIf="settingForm.controls.address.errors?.maxlength" class="text-danger">
                                    {{ 'form.validation.minlength' | translate: { value: settingForm.controls.age.errors?.maxlength.requiredLength } }}
                                </p>
                                <p *ngIf="settingForm.controls.address.errors?.pattern" class="text-danger">
                                    {{ 'form.validation.pattern' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="settingForm.controls.gender" class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">{{ 'common.gender.label' | translate }}<span
                                *ngIf="isRequired('gender')"
                                class="badge badge-danger ml-2">{{ 'common.required' | translate }}</span></p>
                        <div class="col-md-8">
                            <select class="form-control" formControlName="gender">
                                <option value="">{{ 'common.gender.unselected' | translate }}</option>
                                <option value="man">{{ 'common.gender.man' | translate }}</option>
                                <option value="woman">{{ 'common.gender.woman' | translate }}</option>
                            </select>
                            <div *ngIf="settingForm.controls.gender.invalid && settingForm.controls.gender.touched"
                                class="mt-2">
                                <p *ngIf="settingForm.controls.gender.errors?.required" class="text-danger">
                                    {{ 'form.validation.required' | translate }}</p>
                                <p *ngIf="settingForm.controls.gender.errors?.minlength" class="text-danger">
                                    {{ 'form.validation.minlength' | translate: { value: settingForm.controls.age.errors?.minlength.requiredLength } }}
                                </p>
                                <p *ngIf="settingForm.controls.gender.errors?.maxlength" class="text-danger">
                                    {{ 'form.validation.minlength' | translate: { value: settingForm.controls.age.errors?.maxlength.requiredLength } }}
                                </p>
                                <p *ngIf="settingForm.controls.gender.errors?.pattern" class="text-danger">
                                    {{ 'form.validation.pattern' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">{{ 'setting.printer.label' | translate }}</p>
                        <div class="col-md-8">
                            <div>
                                <select class="form-control" formControlName="printerType"
                                    (change)="changePrinterType()">
                                    <option *ngFor="let printer of printers" [value]="printer.connectionType">
                                        {{ printer.name | translate }}</option>
                                </select>
                                <button
                                    *ngIf="this.settingForm.controls.printerType.value && this.settingForm.controls.printerType.value !== connectionType.None"
                                    type="button" class="btn btn-sm btn-primary py-2 mt-2"
                                    (click)="print()">{{ 'setting.printer.testPrinting' | translate }}</button>
                            </div>
                            <div>
                                <p class="py-2">{{ 'setting.printer.ipAddress' | translate }}</p>
                                <input type="text" class="form-control" formControlName="printerIpAddress"
                                    placeholder="0.0.0.0">
                                <div *ngIf="settingForm.controls.printerIpAddress.invalid && settingForm.controls.printerIpAddress.touched"
                                    class="mt-2">
                                    <p *ngIf="settingForm.controls.printerIpAddress.errors?.required"
                                        class="text-danger">
                                        {{ 'form.validation.required' | translate }}</p>
                                </div>
                                <p class="text-small mt-2">
                                    {{ 'setting.printer.ipAddressDescription' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row align-items-center">
                        <p class="col-md-4 py-2 text-md-right">{{ 'setting.payment.label' | translate }}</p>
                        <div class="col-md-8">
                            <div>
                                <p class="py-2">{{ 'setting.payment.cash.label' | translate }}</p>
                                <input type="text" class="form-control" formControlName="paymentCash"
                                    placeholder="0.0.0.0">
                                <div *ngIf="settingForm.controls.paymentCash.invalid && settingForm.controls.paymentCash.touched"
                                    class="mt-2">
                                    <p *ngIf="settingForm.controls.paymentCash.errors?.required"
                                        class="text-danger">
                                        {{ 'form.validation.required' | translate }}</p>
                                </div>
                            </div>
                            <div>
                                <p class="py-2">{{ 'setting.payment.creditcard.label' | translate }}</p>
                                <input type="text" class="form-control" formControlName="paymentCreditcard"
                                    placeholder="0.0.0.0">
                                <div *ngIf="settingForm.controls.paymentCreditcard.invalid && settingForm.controls.paymentCreditcard.touched"
                                    class="mt-2">
                                    <p *ngIf="settingForm.controls.paymentCreditcard.errors?.required"
                                        class="text-danger">
                                        {{ 'form.validation.required' | translate }}</p>
                                </div>
                            </div>
                            <div>
                                <p class="py-2">{{ 'setting.payment.emoney.label' | translate }}</p>
                                <input type="text" class="form-control" formControlName="paymentEmoney"
                                    placeholder="0.0.0.0">
                                <div *ngIf="settingForm.controls.paymentEmoney.invalid && settingForm.controls.paymentEmoney.touched"
                                    class="mt-2">
                                    <p *ngIf="settingForm.controls.paymentEmoney.errors?.required"
                                        class="text-danger">
                                        {{ 'form.validation.required' | translate }}</p>
                                </div>
                            </div>
                            <div>
                                <p class="py-2">{{ 'setting.payment.code.label' | translate }}</p>
                                <input type="text" class="form-control" formControlName="paymentCode"
                                    placeholder="0.0.0.0">
                                <div *ngIf="settingForm.controls.paymentCode.invalid && settingForm.controls.paymentCode.touched"
                                    class="mt-2">
                                    <p *ngIf="settingForm.controls.paymentCode.errors?.required"
                                        class="text-danger">
                                        {{ 'form.validation.required' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons mx-auto text-center">
            <button type="submit" [disabled]="isLoading | async" class="btn btn-primary btn-block py-3 mb-3"
                (click)="onSubmit()">{{ 'setting.next' | translate }}</button>
            <button type="button" class="btn btn-link"
                [routerLink]="environment.BASE_URL">{{ 'setting.prev' | translate }}</button>
        </div>
    </form>
</div>