<div class="d-flex justify-content-between p-3 bg-light-gray mb-3">
    <p class="font-weight-bold">{{ 'common.amount' | translate }}</p>
    <p *ngIf="isAmount" class="font-weight-bold">{{ amount | currency : 'JPY' }}</p>
    <p *ngIf="!isAmount" class="font-weight-bold">¥-</p>
</div>

<div *ngIf="purchase.authorizeSeatReservations.length === 0">
    <p class="text-md-center">{{ 'purchase.event.cart.notfound' | translate }}</p>
</div>

<div *ngFor="let authorizeSeatReservation of purchase.authorizeSeatReservations"
    class="mb-3 border border-gray p-3 position-relative">
    <button *ngIf="cancel" type="button" class="close" aria-label="Close"
        (click)="removeItem(authorizeSeatReservation)">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="mb-3">
        <div class="mb-1">
            <p class="font-weight-bold text-small pr-3">
                {{ authorizeSeatReservation.object.event.name | changeLanguage }}</p>
            <p class="text-small"
                *ngIf="authorizeSeatReservation.object.event.superEvent.headline && (authorizeSeatReservation.object.event.superEvent.headline | changeLanguage)">
                {{ authorizeSeatReservation.object.event.superEvent.headline | changeLanguage }}</p>
            <p class="text-small"
                *ngIf="authorizeSeatReservation.object.event.superEvent.description && (authorizeSeatReservation.object.event.superEvent.description | changeLanguage)">
                {{
                authorizeSeatReservation.object.event.superEvent.description | changeLanguage }}</p>
        </div>
        <p class="mb-1">
            {{ authorizeSeatReservation.object.event.startDate | formatDate: 'MM/DD(ddd) HH:mm' }}-{{
            authorizeSeatReservation.object.event.endDate | formatDate: 'HH:mm' }}
        </p>
        <p class="text-small mb-1">
            <span class="theater-name">
                {{ authorizeSeatReservation.object.event.superEvent.location.name | changeLanguage }}
            </span>
            <span class="screen-name">
                &nbsp;/&nbsp;<span *ngIf="authorizeSeatReservation.object.event.location.address | changeLanguage"
                    class="mr-2">{{ authorizeSeatReservation.object.event.location.address | changeLanguage
                    }}</span>{{ authorizeSeatReservation.object.event.location.name | changeLanguage }}
            </span>
            <span
                *ngIf="authorizeSeatReservation.object.event.workPerformed?.duration && moment.duration(authorizeSeatReservation.object.event.workPerformed?.duration).asMinutes() > 0">
                &nbsp;/&nbsp;<span class="mr-1">{{ 'common.duration' | translate }}</span>{{
                moment.duration(authorizeSeatReservation.object.event.workPerformed?.duration).asMinutes() }}{{
                'common.date.minute' | translate }}
            </span>
        </p>
        <!-- <button type="button" class="btn btn-outline-primary btn-block py-3 ml-auto p-0"
            (click)="removeItem(authorizeSeatReservation)">{{ 'common.remove' | translate }}</button> -->
    </div>
    <ng-container
        *ngIf="authorizeSeatReservation.id !== purchase.authorizeSeatReservation?.id || purchase.reservations.length === 0">
        <hr class="border-top border-gray mb-3">

        <app-item-list [authorizeSeatReservations]="authorizeSeatReservation?.result?.responseBody.object.reservations">
        </app-item-list>
    </ng-container>


</div>