<div class="bg-dark-gray text-white min-h-100">
    <div class="d-flex justify-content-between p-3 border-bottom border-white">
        <p class="font-weight-bold">{{ 'common.amount' | translate }}</p>
        <p *ngIf="isAmount" class="font-weight-bold">{{ amount | currency : 'JPY' }}</p>
        <p *ngIf="!isAmount" class="font-weight-bold">¥-</p>
    </div>

    <div class="p-3" *ngIf="purchase.authorizeSeatReservations.length === 0">
        <p class="text-md-center">{{ 'purchase.event.cart.notfound' | translate }}</p>
    </div>
    <ul>
        <li *ngFor="let temporarilyReservation of purchase.temporarilyReserved"
            class="border-bottom border-white position-relative">
            <div class="p-3">
                <button *ngIf="cancel" type="button" class="close text-white text-small opacity-100" aria-label="Close"
                    (click)="removeItem(temporarilyReservation.id)">
                    <i class="bi bi-x-circle"></i>
                </button>
                <div class="mb-3">
                    <div class="mb-1">
                        <p class="font-weight-bold text-small pr-3">
                            {{ temporarilyReservation.screeningEvent.name | changeLanguage }}</p>
                        <p class="text-small"
                            *ngIf="temporarilyReservation.screeningEvent.superEvent.headline && (temporarilyReservation.screeningEvent.superEvent.headline | changeLanguage)">
                            {{ temporarilyReservation.screeningEvent.superEvent.headline | changeLanguage }}</p>
                        <p class="text-x-small"
                            *ngIf="temporarilyReservation.screeningEvent.superEvent.description && (temporarilyReservation.screeningEvent.superEvent.description | changeLanguage)">
                            {{ temporarilyReservation.screeningEvent.superEvent.description | changeLanguage }}</p>
                    </div>
                    <p class="mb-1">
                        {{ temporarilyReservation.screeningEvent.startDate | formatDate: 'MM/DD(ddd) HH:mm' }}-{{
                        temporarilyReservation.screeningEvent.endDate | formatDate: 'HH:mm' }}
                    </p>
                    <p class="text-small mb-1">
                        <span class="theater-name">
                            {{ temporarilyReservation.screeningEvent.superEvent.location.name | changeLanguage }}
                        </span>
                        <span class="screen-name">
                            &nbsp;/&nbsp;<span
                                *ngIf="temporarilyReservation.screeningEvent.location.address | changeLanguage"
                                class="mr-2">{{ temporarilyReservation.screeningEvent.location.address | changeLanguage
                                }}</span>{{ temporarilyReservation.screeningEvent.location.name | changeLanguage }}
                        </span>
                        <span
                            *ngIf="temporarilyReservation.screeningEvent.workPerformed?.duration && moment.duration(temporarilyReservation.screeningEvent.workPerformed?.duration).asMinutes() > 0">
                            &nbsp;/&nbsp;<span class="mr-1">{{ 'common.duration' | translate }}</span>{{
                            moment.duration(temporarilyReservation.screeningEvent.workPerformed?.duration).asMinutes()
                            }}{{
                            'common.date.minute' | translate }}
                        </span>
                    </p>
                </div>
                <ng-container
                    *ngIf="temporarilyReservation.id !== purchase.authorizeSeatReservation?.id || purchase.reservations.length === 0">
                    <app-item-list [reservations]="temporarilyReservation.reservations"></app-item-list>
                </ng-container>
            </div>
        </li>
    </ul>
</div>