<div class="contents-width mx-auto px-3 py-5">
    <form [formGroup]="inquiryForm">
        <div class="mb-4">
            <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'inquiry.input.title' | translate }}</h2>
            <p class="mb-4 text-md-center" [innerHTML]="'inquiry.input.read' | translate"></p>

            <div class="inquiry-form mx-auto p-3 bg-white">

                <div class="form-group">
                    <label class="mb-2" for="">{{ 'common.confirmationNumber' | translate }}</label>
                    <app-numeric-keypad *ngIf="environment.INQUIRY_INPUT_KEYPAD" inputType="string"
                        [inputValue]="inquiryForm.controls.confirmationNumber.value"
                        (change)="changeConfirmationNumber($event)">
                        <input type="text" class="form-control" formControlName="confirmationNumber"
                            id="confirmationNumber" [placeholder]="'form.placeholder.confirmationNumber' | translate"
                            readonly>
                    </app-numeric-keypad>
                    <input *ngIf="!environment.INQUIRY_INPUT_KEYPAD" type="text" class="form-control"
                        formControlName="confirmationNumber" id="confirmationNumber"
                        [placeholder]="'form.placeholder.confirmationNumber' | translate">
                    <div *ngIf="inquiryForm.controls.confirmationNumber.invalid && inquiryForm.controls.confirmationNumber.touched"
                        class="mt-2">
                        <p *ngIf="inquiryForm.controls.confirmationNumber.errors?.required" class="text-danger">
                            {{ 'form.validation.required' | translate }}</p>
                        <p *ngIf="inquiryForm.controls.confirmationNumber.errors?.pattern" class="text-danger">
                            {{ 'form.validation.number' | translate }}</p>
                    </div>
                </div>
                <div class="form-group mb-0">
                    <label class="mb-2" for="">{{ 'common.telephone' | translate }}</label>
                    <app-numeric-keypad *ngIf="environment.INQUIRY_INPUT_KEYPAD" inputType="telephone"
                        [inputValue]="inquiryForm.controls.telephone.value" (change)="changeTelephone($event)">
                        <input type="password" class="form-control" formControlName="telephone" id="telephone"
                            [placeholder]="'form.placeholder.telephone' | translate" readonly>
                    </app-numeric-keypad>
                    <input *ngIf="!environment.INQUIRY_INPUT_KEYPAD" type="password" class="form-control"
                        formControlName="telephone" id="telephone"
                        [placeholder]="'form.placeholder.telephone' | translate">
                    <div *ngIf="inquiryForm.controls.telephone.invalid && inquiryForm.controls.telephone.touched"
                        class="mt-2">
                        <p *ngIf="inquiryForm.controls.telephone.errors?.required" class="text-danger">
                            {{ 'form.validation.required' | translate }}</p>
                        <p *ngIf="inquiryForm.controls.telephone.errors?.minlength" class="text-danger">
                            {{ 'form.validation.minlength' | translate: { value: inquiryForm.controls.telephone.errors?.minlength.requiredLength } }}
                        </p>
                        <p *ngIf="inquiryForm.controls.telephone.errors?.maxlength" class="text-danger">
                            {{ 'form.validation.maxlength' | translate: { value: inquiryForm.controls.telephone.errors?.maxlength.requiredLength } }}
                        </p>
                        <p *ngIf="inquiryForm.controls.telephone.errors?.telephone" class="text-danger">
                            {{ 'form.validation.telephone' | translate }}</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="buttons mx-auto text-center">
            <button type="submit" [disabled]="isLoading | async" class="btn btn-primary btn-block py-3 mb-3"
                (click)="onSubmit()">{{ 'inquiry.input.next' | translate }}</button>
            <button type="button" class="btn btn-link"
                routerLink="/purchase/root">{{ 'inquiry.input.prev' | translate }}</button>
        </div>
    </form>
</div>