<div class="contents-width mx-auto px-3 py-5">
    <div class="mb-4">

        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'stop.title' | translate }}</h2>
        <p class="mb-4 text-center" [innerHTML]="'stop.read' | translate"></p>

        <div *ngIf="(purchase | async)?.order" class="p-3 bg-dark-gray text-white text-center">
            <p>{{ 'common.orderNumber' | translate }}</p>
            <p>{{ (purchase | async)?.order.orderNumber }}</p>
        </div>
        
        <div *ngIf="error | async" class="p-3">
            <code>{{ (error | async) }}</code>
        </div>
    </div>
</div>