.btn-primary {
    background-color: navy !important;
    border-color: navy !important;
    color: #FFF !important;
}

.btn-primary:hover {
    opacity: 0.75;
}

.btn-primary:disabled,
.btn-primary.disabled {
    opacity: 1 !important;
    background-color: #666 !important;
    border-color: #666 !important;
    color: #EEE !important;
}

.btn-outline-primary {
    border-color: navy !important;
    color: navy !important;
}

.btn-outline-primary:hover {
    background-color: navy !important;
    color: #FFF !important;
}

.wrapper .bg-primary {
    background-color: navy !important;
}

.wrapper .bg-secondary {
    background-color: blue !important;
}

.wrapper .text-primary {
    color: navy !important;
}

.wrapper .border-primary {
    border-color: navy !important;
}

header {
    background-color: navy;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: #FFF;
}

.menu-button div {
    background-color: #FFF;
}

.page-item.active .page-link {
    background-color: navy !important;
    color: #FFF !important;
}

.page-item .page-link {
    color: navy !important;
}