.btn:disabled {
    opacity: 1 !important;
    background-color: #666 !important;
    border-color: #666 !important;
    color: #EEE !important;
}


.video-format,
.dub-language,
.subtitle-language,
.content-rating {
    display: none;
}