<div #trigger (click)="show()">
    <ng-content></ng-content>
</div>
<div *ngIf="isOpen" class="position-fixed">
    <div class="position-fixed" (tap)="hide()"></div>

    <div #keypad class="numeric-keypad p-2 text-center text-large shadow bg-light-gray" [ngStyle]="{
    'top.px': position.y, 
    'left.px': position.x
}">
        <div class="number d-grid mb-2">
            <button *ngFor="let code of codeList" type="button"
                class="btn btn-custom-secondary text-large px-2 py-2 py-md-1 shadow-sm" (tap)="inputCode(code)">
                {{ code }}
            </button>
            <button *ngIf="inputType === 'number' || inputType === 'string'" type="button"
                class="btn btn-custom-secondary text-large px-2 py-2 py-md-1 shadow-sm"
                (tap)="inputCode('000')">000</button>
            <button *ngIf="inputType === 'telephone'" type="button"
                class="btn btn-custom-secondary text-large px-2 py-2 py-md-1 shadow-sm"
                (tap)="inputCode('+')">+</button>
        </div>
        <div class="etc d-grid">
            <button type="button" class="btn btn-custom-secondary text-large px-2 py-2 py-md-1 shadow-sm"
                (tap)="clear()">
                C
            </button>
            <button type="button" class="btn btn-custom-primary px-2 py-2 py-md-1 shadow-sm" (click)="hide()">
                {{ 'common.determine' | translate }}
            </button>
        </div>
    </div>
</div>