@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
:host {
    display: block;
    width: 100%;
}

.position-fixed {
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 1051;
    margin: -50vh 0 0 -50vw;
}

.numeric-keypad {
    position: fixed;
    width: 300px;
    z-index: 1051;
    @include media-breakpoint-down(sm) {
        width: 200px;
    }
}

.number {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
}

.etc {
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5rem;
}

.d-grid > div {
    &:active {
        background-color: skyblue !important;
        color: #fff;
    }
}