:host {
    display: block;
    width: 100%;
}

.position-fixed {
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1051;
}

.numeric-keypad {
    position: fixed;
    width: 500px;
    z-index: 1051;
    touch-action: manipulation;
}

.number {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
}

.etc {
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5rem;
}

.d-grid > button {
    &:active {
        background-color: skyblue !important;
        color: #ccc !important;
    }
}
