<div #trigger (tap)="show()">
    <ng-content></ng-content>
</div>
<div *ngIf="isOpen" class="position-fixed">
    <div class="position-fixed" (tap)="hide()"></div>

    <div #keypad class="numeric-keypad p-3 text-center text-large shadow bg-light-gray" [ngStyle]="{
    'top.px': position.y, 
    'left.px': position.x
}">
        <div class="number d-grid mb-2 text-dark-gray">
            <div class="bg-white py-2 py-md-3 shadow-sm" (tap)="inputCode('7')">7</div>
            <div class="bg-white py-2 py-md-3 shadow-sm" (tap)="inputCode('8')">8</div>
            <div class="bg-white py-2 py-md-3 shadow-sm" (tap)="inputCode('9')">9</div>
            <div class="bg-white py-2 py-md-3 shadow-sm" (tap)="inputCode('4')">4</div>
            <div class="bg-white py-2 py-md-3 shadow-sm" (tap)="inputCode('5')">5</div>
            <div class="bg-white py-2 py-md-3 shadow-sm" (tap)="inputCode('6')">6</div>
            <div class="bg-white py-2 py-md-3 shadow-sm" (tap)="inputCode('1')">1</div>
            <div class="bg-white py-2 py-md-3 shadow-sm" (tap)="inputCode('2')">2</div>
            <div class="bg-white py-2 py-md-3 shadow-sm" (tap)="inputCode('3')">3</div>
            <div class="bg-white py-2 py-md-3 shadow-sm" (tap)="inputCode('0')">0</div>
            <div class="bg-white py-2 py-md-3 shadow-sm" (tap)="inputCode('00')">00</div>
            <div *ngIf="inputType === 'number' || inputType === 'string'" class="bg-dark-gray text-white py-2 py-md-3 shadow-sm"
                (tap)="inputCode('000')">000</div>
            <div *ngIf="inputType === 'telephone'" class="bg-dark-gray text-white py-2 py-md-3 shadow-sm"
                (tap)="inputCode('+')">+</div>
        </div>
        <div class="etc d-grid">
            <div class="bg-gray text-white py-2 py-md-3 shadow-sm" (tap)="clear()">C</div>
            <div class="bg-success text-white py-2 py-md-3 shadow-sm" (tap)="hide()">確定</div>
        </div>
    </div>
</div>