<app-header [step]="1">
    <app-page-title title="{{ 'purchase.event.select.title' | translate }}"></app-page-title>
    <app-transaction-remaining-time class="ml-auto"></app-transaction-remaining-time>
</app-header>
<div class="contents">
    <div class="container h-100 px-3">
        <div class="row h-100">
            <div class="col-12 col-md-9 mh-100 px-0">
                <app-scroll-vertical>
                    <div class="pt-4 px-3">
                        <ul *ngIf="tickets.length > 0" class="mb-4">
                            <li *ngFor="let ticket of tickets; let i = index;"
                                class="ticket mb-3 pb-3 border-bottom border-gray"
                                [class.text-danger]="remainingAttendeeCapacityValue(ticket).length === 0">
                                <div class="container px-0">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="col-7 col-md-8 text-left">
                                            <p *ngFor="let priceComponent of ticket.priceSpecification.priceComponent">
                                                <span>{{ priceComponent.name | changeLanguage }}</span>
                                                <!--
                                    --><span>&nbsp;/&nbsp;{{ priceComponent.price | currency :
                                                    priceComponent.priceCurrency }}</span>
                                                <!--
                                    --><span *ngIf="priceComponent?.referenceQuantity?.value">{{
                                                    'common.referenceQuantityValue' | translate: { value:
                                                    priceComponent?.referenceQuantity?.value } }}</span>
                                            </p>
                                            <p *ngIf="ticket.description" class="text-x-small text-left">
                                                {{ ticket.description | changeLanguage }}</p>
                                        </div>
                                        <div class="col-5 col-md-4 text-right">
                                            <app-quantity-input class="pl-3" [value]="selectedTickets[i].count"
                                                (valueChange)="changeSelect(ticket.id, $event)"
                                                [maxValue]="remainingAttendeeCapacityValue(ticket).length">
                                            </app-quantity-input>
                                        </div>
                                    </div>
                                </div>
                                <ul *ngIf="ticket.addOn && ticket.addOn.length > 0" class="mt-3">
                                    <li class="my-1" *ngFor="let addOn of ticket.addOn; let i2 = index">
                                        <div class="container px-0">
                                            <div class="row justify-content-between align-items-center">
                                                <div class="col-7 col-md-8 text-left">
                                                    <p class="pl-4"
                                                        *ngFor="let priceComponent of ticket.priceSpecification.priceComponent">
                                                        <span>{{ addOn.priceSpecification?.name | changeLanguage
                                                            }}</span>
                                                        <!--
                                            --><span>&nbsp;/&nbsp;{{ addOn.priceSpecification?.price | currency :
                                                            addOn.priceSpecification?.priceCurrency }}</span>
                                                        <!--
                                            --><span *ngIf="priceComponent?.referenceQuantity?.value">{{
                                                            'common.referenceQuantityValue' | translate: { value:
                                                            addOn.priceSpecification?.referenceQuantity?.value }
                                                            }}</span>
                                                    </p>
                                                </div>
                                                <div class="col-5 col-md-4 text-right">
                                                    <app-quantity-input class="pl-3"
                                                        [(value)]="selectedTickets[i].addOn[i2].count"
                                                        [maxValue]="remainingAttendeeCapacityAddOnValue(ticket).length">
                                                    </app-quantity-input>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <p *ngIf="tickets.length === 0" class="mb-4">{{ 'purchase.event.select.notfound' | translate }}
                        </p>
                    </div>
                </app-scroll-vertical>
            </div>
            <div class="col-12 col-md-3 mh-100 scroll-vertical px-0">
                <app-purchase-cart [purchase]="purchase | async" [isAmount]="false" [cancel]="false">
                </app-purchase-cart>
            </div>
        </div>
    </div>
</div>
<app-footer [step]="1">
    <div class="col-3 col-md-2 mr-auto mr-md-0">
        <button type="button" class="btn btn-custom-secondary btn-block py-3 shadow-sm" routerLink="/">
            {{ 'common.clear' | translate }}
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button type="button" class="text-large btn btn-custom-secondary btn-block font-weight-bold shadow-sm py-3"
            (click)="prev()">
            {{ 'purchase.event.select.prev' | translate }}
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button type="submit" class="text-large btn btn-custom-primary btn-block font-weight-bold shadow-sm py-3"
            [disabled]="(isLoading | async) || (selectedTickets && createReservations().length === 0)"
            (click)="onSubmit()">
            {{ 'purchase.event.select.next' | translate }}
        </button>
    </div>
</app-footer>