<p class="mb-3">{{ 'purchase.info.read' | translate }}</p>
<div class="bg-white p-3">
    <div class="mb-3">
        <div class="mb-1">
            <p class="font-weight-bold text-large">{{ purchase.screeningEvent?.name | changeLanguage }}</p>
            <p class="text-small"
                *ngIf="purchase.screeningEvent?.superEvent.headline && (purchase.screeningEvent?.superEvent.headline | changeLanguage)">
                {{ purchase.screeningEvent?.superEvent.headline | changeLanguage }}</p>
            <p class="text-small"
                *ngIf="purchase.screeningEvent?.superEvent.description && (purchase.screeningEvent?.superEvent.description | changeLanguage)">{{
                        purchase.screeningEvent?.superEvent.description | changeLanguage }}</p>
        </div>
        <p class="mb-1">
            {{ purchase.screeningEvent?.startDate | formatDate: 'MM/DD(ddd) HH:mm' }}-{{ purchase.screeningEvent?.endDate | formatDate: 'HH:mm' }}
        </p>
        <p class="text-small mb-1">
            <span class="theater-name">
                {{ purchase.screeningEvent?.superEvent.location.name | changeLanguage }}
            </span>
            <span class="screen-name">
                &nbsp;/&nbsp;<span *ngIf="purchase.screeningEvent?.location.address | changeLanguage" class="mr-2">{{ purchase.screeningEvent?.location.address | changeLanguage }}</span>{{ purchase.screeningEvent?.location.name | changeLanguage }}
            </span>
            <span *ngIf="purchase.screeningEvent?.workPerformed?.duration && moment.duration(purchase.screeningEvent?.workPerformed?.duration).asMinutes() > 0">
                &nbsp;/&nbsp;<span class="mr-1">{{ 'common.duration' | translate }}</span>{{ moment.duration(purchase.screeningEvent?.workPerformed?.duration).asMinutes() }}{{ 'common.date.minute' | translate }}
            </span>
        </p>
    </div>
    <hr class="mb-3">

    <app-item-list [reservations]="purchase.reservations"></app-item-list>

</div>