<div class="bg-white p-3">
    <div class="container px-0 mb-2">
        <div class="row">
            <div class="col-4">
                <div class="image">
                    <!-- <div class="loading d-flex justify-content-center align-items-center">
                        <div class="loader"></div>
                    </div> -->
                    <div class="poster" *ngIf="image" [style.backgroundImage]="'url('+ image +')'"></div>
                    <div class="poster-no" *ngIf="!image"></div>
                </div>
            </div>
            <div class="col-8">
                <p class="font-weight-bold text-small">{{ purchase.screeningEvent?.name | changeLanguage }}</p>
                <p class="text-small"
                    *ngIf="purchase.screeningEvent?.superEvent.headline && (purchase.screeningEvent?.superEvent.headline | changeLanguage)">
                    {{ purchase.screeningEvent?.superEvent.headline | changeLanguage }}</p>
            </div>
        </div>
    </div>
    <p class="text-small"
        *ngIf="purchase.screeningEvent?.superEvent.description && (purchase.screeningEvent?.superEvent.description | changeLanguage)">{{
                        purchase.screeningEvent?.superEvent.description | changeLanguage }}</p>
    <p class="font-weight-bold text-small">
        {{ purchase.screeningEvent?.startDate | formatDate: 'YYYY/MM/DD(ddd) HH:mm' }}-{{ purchase.screeningEvent?.endDate | formatDate: 'HH:mm' }}
    </p>
    <p class="screen-name text-small font-weight-bold">
        <span *ngIf="purchase.screeningEvent?.location.address | changeLanguage"
            class="mr-2">{{ purchase.screeningEvent?.location.address | changeLanguage }}</span>{{ purchase.screeningEvent?.location.name | changeLanguage }}
    </p>
    <app-item-list [reservations]="purchase.reservations"></app-item-list>

</div>