<div class="contents-width mx-auto px-3 pt-5 mb-4">
    <h2 class="text-large mb-4 text-center"><strong>スケジュール選択</strong></h2>
    <p class="mb-4">スケジュールを選択してください</p>
    <div class="condition">
        <div class="mb-3">
            <select class="p-2" [(ngModel)]="theaterCode" (change)="getScreeningEvents(selectedDate)">
                <option *ngFor="let movieTheater of (movieTheaters | async)" [value]="movieTheater.location.branchCode">{{
                    movieTheater.name.ja }}</option>
            </select>
        </div>
    </div>
</div>

<div class="bg-light-gray">
    <div class="contents-width mx-auto px-5 py-4">
        <div class="schedule-slider position-relative">
            <div class="swiper-container mb-3" #swiper [swiper]="swiperConfig" (resize)="resize()">
                <div class="swiper-wrapper">
                    <div *ngFor="let scheduleDate of dates" class="swiper-slide pointer">
                        <div class="text-center text-white py-4" [class.bg-secondary]="scheduleDate !== selectedDate"
                            [class.bg-primary]="scheduleDate === selectedDate" (click)="getScreeningEvents(scheduleDate)">
                            <div>
                                {{ moment(scheduleDate).format('MM') }}/<span class="text-large">{{
                                    moment(scheduleDate).format('DD') }}</span>({{
                                moment(scheduleDate).format('ddd') }})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <!-- <select class="p-2" [(ngModel)]="date" (change)="getScreeningEvents()">
            <option *ngFor="let date of dates" [value]="date">{{ moment(date).format('YYYY/MM/DD (ddd)') }}</option>
        </select> -->
    </div>
</div>

<div class="contents-width mx-auto p-3">
    <p *ngIf="selectedDate" class="text-primary text-large mb-3">{{ moment(selectedDate).format('YYYY/MM/DD (ddd)') }}</p>
    <p *ngIf="screeningFilmEvents.length === 0" class="mb-3">スケジュールがありません。</p>
    <app-purchase-schedule-film *ngFor="let screeningFilmEvent of screeningFilmEvents" [screeningFilmEvent]="screeningFilmEvent"
        (select)="selectSchedule($event)" class="mb-3"></app-purchase-schedule-film>
</div>