<div class="contents-width mx-auto px-3 py-5">
    <div class="mb-4">

        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'error.title' | translate }}</h2>
        <p class="mb-4 text-md-center" [innerHTML]="'error.read' | translate"></p>
        
        <div class="p-3 bg-white select-text">
            <code>{{ (error | async) }}</code>
        </div>
    </div>

    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-outline-primary btn-block py-3"
            routerLink="/">{{ 'error.prev' | translate }}</button>
    </div>
</div>