<app-header>
    <app-page-title title="{{ 'error.title' | translate }}"></app-page-title>
</app-header>

<div class="contents">
    <div class="container h-100">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="py-4 px-3">
                    <p class="mb-4 text-center" [innerHTML]="'error.read' | translate"></p>
                    <div *ngIf="error | async" class="mb-4 p-3 bg-dark-gray text-white">
                        <code class="text-white">{{ (error | async) }}</code>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<app-footer>
    <div class="col-3 col-md-2">
        <button type="button" class="text-large btn btn-custom-secondary btn-block font-weight-bold shadow-sm py-3"
            routerLink="/">
            {{ 'error.prev' | translate }}
        </button>
    </div>
</app-footer>