<div *ngIf="isMovieTicket || isMGTicket || isSurfRock" class="p-3 border border-gray">
    <div *ngIf="isMovieTicket" class="mb-4">
        <p class="mb-3" [innerHtml]="'common.paymentMethodType.movieTicket.use' | translate"></p>
        <div>
            <button type="button" (click)="openMovieTicket(paymentMethodType.MovieTicket)"
                class="btn btn-block bg-white border border-gray py-3 rounded-pill movie-ticket">
                <div class="font-weight-bold text-large bg-image">&nbsp;</div>
            </button>
        </div>
    </div>
    <div *ngIf="isMGTicket" class="mb-4">
        <p class="mb-3" [innerHtml]="'common.paymentMethodType.mgTicket.use' | translate"></p>
        <div>
            <button type="button" (click)="openMovieTicket(paymentMethodType.MGTicket)"
                class="btn btn-block bg-white border border-gray py-3 rounded-pill mg-ticket">
                <div class="font-weight-bold text-large">
                    {{ 'common.paymentMethodType.mgTicket.label' | translate }}
                </div>
                <!-- <img src="/assets/images/mvtk.svg" height="24" alt=""> -->
            </button>
        </div>
    </div>
    <div *ngIf="isSurfRock" class="mb-4">
        <p class="mb-3" [innerHtml]="'common.paymentMethodType.surfRock.use' | translate"></p>
        <div>
            <button type="button" (click)="openMovieTicket('SurfRock')"
                class="btn btn-block bg-white border border-gray py-3 rounded-pill surfrock">
                <div class="font-weight-bold text-large">
                    {{ 'common.paymentMethodType.surfRock.label' | translate }}
                </div>
                <!-- <img src="/assets/images/mvtk.svg" height="24" alt=""> -->
            </button>
        </div>
    </div>
    <div *ngIf="isMembership" class="mb-4">
        <p class="mb-3" [innerHtml]="'common.membership.use' | translate"></p>
        <div>
            <button type="button" (click)="openMembership()"
                class="btn btn-block bg-white border border-gray py-3 rounded-pill membership">
                <div class="font-weight-bold text-large">
                    {{ 'common.membership.label' | translate }}
                </div>
                <!-- <img src="/assets/images/mvtk.svg" height="24" alt=""> -->
            </button>
        </div>
    </div>
</div>