<app-header>
    <app-page-title title="{{ 'purchase.complete.title' | translate }}"></app-page-title>
</app-header>

<div class="contents">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="py-4">
                    <app-print-result *ngIf="(purchase | async)?.order" [order]="(purchase | async)?.order">
                    </app-print-result>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>
<app-footer>
    <div class="container h-100">
        <div class="row align-items-center justify-content-end h-100">
            <div class="col-6">
                <app-purchase-step *ngIf="environment.VIEW_TYPE === viewType.Cinema" [currentStep]="5">
                </app-purchase-step>
                <app-purchase-step *ngIf="environment.VIEW_TYPE === viewType.Event" [currentStep]="3">
                </app-purchase-step>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-custom-secondary btn-block py-2 shadow-sm" routerLink="/">
                    {{ 'common.clear' | translate }}
                </button>
            </div>
            <div class="col-2">
                <button type="button"
                    class="text-large btn btn-custom-secondary btn-block font-weight-bold shadow-sm py-3" disabled>
                    {{ 'purchase.complete.prev' | translate }}
                </button>
            </div>
            <div class="col-2">
                <button type="button"
                    class="text-large btn btn-custom-primary btn-block font-weight-bold shadow-sm py-3" routerLink="/">
                    {{ 'purchase.complete.next' | translate }}
                </button>
            </div>
        </div>
    </div>
</app-footer>