<app-header [isClear]="true">
    <app-purchase-step [currentStep]="5"></app-purchase-step>
</app-header>
<div class="contents">
    <div class="container h-100 p-3">
        <div class="row h-100">
            <div class="col-3 h-100">
                <div class="bg-dark h-100"></div>
            </div>
            <div class="col-6">
                <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.complete.title' | translate }}
                </h2>
                <p class="mb-4 text-md-center" [innerHTML]="'purchase.complete.read' | translate"></p>

                <!-- <div class="mb-4 px-3 py-2 bg-white">
                    <div class="row align-items-center">
                        <p class="col-4">
                            {{ 'common.confirmationNumber' | translate }}</p>
                        <p class="col-8 text-large text-info font-weight-bold">
                            {{ (purchase | async)?.order.confirmationNumber }}
                        </p>
                    </div>
                </div>

                <div *ngIf="qrcode" class="mb-4 px-3 py-2 bg-white">
                    <div class="row align-items-center">
                        <p class="col-md-4 mb-2 mb-md-0">{{ 'purchase.complete.cooperationQRCode' | translate }}</p>
                        <p class="col-md-8 text-large text-center text-md-left">
                            <img class="border" [src]="qrcode" alt="">
                        </p>
                    </div>
                </div>

                <div *ngFor="let eventOrder of eventOrders" class="mb-4 bg-white p-3">
                    <div class="mb-3">
                        <div class="mb-1">
                            <p class="font-weight-bold text-large">{{ eventOrder.event.name | changeLanguage }}</p>
                            <p class="text-small"
                                *ngIf="eventOrder.event.superEvent.headline && (eventOrder.event.superEvent.headline | changeLanguage)">
                                {{ eventOrder.event.superEvent.headline | changeLanguage }}</p>
                            <p class="text-small"
                                *ngIf="eventOrder.event.superEvent.description && (eventOrder.event.superEvent.description | changeLanguage)">{{
                        eventOrder.event.superEvent.description | changeLanguage }}</p>
                        </div>
                        <p class="mb-1">
                            {{ eventOrder.event.startDate | formatDate: 'MM/DD(ddd) HH:mm' }}-{{ eventOrder.event.endDate | formatDate: 'HH:mm' }}
                        </p>
                        <p class="text-small mb-1">
                            <span
                                class="theater-name">{{ eventOrder.event.superEvent.location.name | changeLanguage }}</span>
                            <span class="screen-name">&nbsp;/&nbsp;<span
                                    *ngIf="eventOrder.event.location.address | changeLanguage"
                                    class="mr-2">{{ eventOrder.event.location.address | changeLanguage }}</span>{{ eventOrder.event.location.name | changeLanguage }}</span>
                            <span
                                *ngIf="eventOrder.event.workPerformed?.duration && moment.duration(eventOrder.event.workPerformed?.duration).asMinutes() > 0">
                                &nbsp;/&nbsp;<span
                                    class="mr-1">{{ 'common.duration' | translate }}</span>{{ moment.duration(eventOrder.event.workPerformed?.duration).asMinutes() }}{{ 'common.date.minute' | translate }}
                            </span>
                        </p>
                    </div>
                    <hr class="mb-3">
                    <app-item-list [acceptedOffers]="eventOrder.data"></app-item-list>

                </div>

                <div class="mb-4 px-3 bg-white">

                    <div class="py-3 border-bottom border-gray">
                        <div class="row align-items-center">
                            <p class="mb-2 mb-md-0 col-md-4">{{ 'common.paymentMethod' | translate }}</p>
                            <div class="col-md-8">
                                <p *ngFor="let paymentMethod of (purchase | async)?.order.paymentMethods">
                                    <span
                                        *ngIf="paymentMethod.typeOf === paymentMethodType.Cash">{{ 'common.paymentMethodType.cash' | translate }}</span>
                                    <span
                                        *ngIf="paymentMethod.typeOf === paymentMethodType.Account">{{ 'common.paymentMethodType.account' | translate }}</span>
                                    <span
                                        *ngIf="paymentMethod.typeOf === paymentMethodType.CreditCard">{{ 'common.paymentMethodType.creditCard' | translate }}</span>
                                    <span
                                        *ngIf="paymentMethod.typeOf === paymentMethodType.EMoney">{{ 'common.paymentMethodType.eMoney' | translate }}</span>
                                    <span
                                        *ngIf="paymentMethod.typeOf === paymentMethodType.MovieTicket">{{ 'common.paymentMethodType.movieTicket' | translate }}</span>
                                    <span
                                        *ngIf="paymentMethod.typeOf === paymentMethodType.Others 
                                && paymentMethod.name === 'Others'">{{ 'common.paymentMethodType.others' | translate }}</span>
                                    <span
                                        *ngIf="paymentMethod.typeOf === paymentMethodType.Others 
                                && paymentMethod.name === 'RegiGrow'">{{ 'common.paymentMethodType.regiGrow' | translate }}</span>
                                    <span
                                        *ngIf="paymentMethod.typeOf === paymentMethodType.Others 
                                && paymentMethod.name !== 'Others' 
                                && paymentMethod.name !== 'RegiGrow'">{{ getCustomPaymentMethodTypeName({ typeOf: paymentMethod.typeOf, category: paymentMethod.name}) | changeLanguage }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="row align-items-center">
                            <p class="mb-2 mb-md-0 col-md-4">{{ 'common.amount' | translate }}</p>
                            <p class="col-md-8 font-weight-bold text-large text-info">
                                {{ (purchase | async)?.order.price | currency : 'JPY' }}</p>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-3">
                <!-- <app-purchase-info [purchase]="purchase | async"></app-purchase-info> -->
            </div>
        </div>
    </div>
</div>
<app-footer>
    <div class="mr-auto">
        <button type="submit" class="btn btn-primary" [disabled]="isLoading | async" (click)="test()">返金（デモ用）</button>
    </div>
</app-footer>