<app-header [step]="1">
    <app-page-title title="{{ 'purchase.event.date.title' | translate }}"></app-page-title>
    <app-transaction-remaining-time class="ml-auto"></app-transaction-remaining-time>
</app-header>

<div class="contents mh-100">
    <app-scroll-vertical>
        <div class="p-3">
            <div class="mb-4">
                <div class="container px-0">
                    <div class="row">
                        <div class="col-4 col-md-3" *ngFor="let scheduleDate of scheduleDates">
                            <button type="button" class="btn btn-block btn-custom-secondary shadow-sm py-4 mb-3"
                                (click)="toPurchase(scheduleDate)">
                                <div class="text-large">
                                    {{ moment(scheduleDate, 'YYYYMMDD').format('YYYY/MM/DD (ddd)') }}
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </app-scroll-vertical>
</div>
<app-footer [step]="1">
    <div class="col-3 col-md-2 mr-auto mr-md-0">
        <button type="button" class="btn btn-custom-secondary btn-block py-3 shadow-sm" routerLink="/">
            {{ 'common.clear' | translate }}
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button type="button" class="text-large btn btn-custom-secondary btn-block font-weight-bold shadow-sm py-3"
            routerLink="/purchase/event">
            {{ 'purchase.event.date.prev' | translate }}
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button type="button" class="text-large btn btn-custom-primary btn-block font-weight-bold shadow-sm py-3"
            disabled>
            {{ 'purchase.event.date.next' | translate }}
        </button>
    </div>
</app-footer>