<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.event.seat.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'purchase.event.seat.read' | translate"></p>
    <div *ngIf="!(purchase | async)?.screen?.openSeatingAllowed" class="d-flex mb-3">
        <button type="button" class="btn btn-primary mr-2" [disabled]="isLoading | async"
            (click)="allSelectSeats()">{{ 'purchase.event.seat.allSelect' | translate }}</button>
        <button type="button" class="btn btn-outline-primary m-0"
            (click)="resetSeats()">{{ 'purchase.event.seat.reset' | translate }}</button>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <app-screen *ngIf="(user | async)?.theater 
                && screeningEventSeats.length > 0 
                && (purchase | async)?.screen"
                class="bg-white mb-3"
                [theaterCode]="(user | async)?.theater.branchCode"
                [screenCode]="(purchase | async)?.screen.branchCode"
                [screeningEventSeats]="screeningEventSeats"
                [openSeatingAllowed]="(purchase | async)?.screen.openSeatingAllowed"
                [reservations]="(purchase | async)?.reservations"
                [authorizeSeatReservation]="(purchase | async)?.authorizeSeatReservation" (select)="selectSeat($event)">
            </app-screen>
            <app-seat-info class="mb-4"></app-seat-info>
            <div *ngIf="(purchase | async)?.screen?.openSeatingAllowed" class="mb-4">
                <div class="d-flex align-items-center">
                    <p class="mr-2">{{ 'purchase.event.seat.openSeating' | translate }}</p>
                    <select class="form-control d-inline-block w-auto" (change)="selectOpenSeating($event)"
                        [ngModel]="(purchase | async)?.reservations.length">
                        <option value="0">0</option>
                        <option
                            *ngFor="let value of remainingAttendeeCapacityValue({
                                screeningEvent: (purchase | async)?.screeningEvent,
                                screeningEventSeats: screeningEventSeats,
                                authorizeSeatReservations: (purchase | async)?.authorizeSeatReservations
                            })"
                            [value]="value">{{ value }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <app-purchase-info class="mb-4" [purchase]="purchase | async"></app-purchase-info>
        </div>
    </div>

    <div class="buttons mx-auto text-center">
        <button type="submit" class="btn btn-primary btn-block py-3 mb-3" [disabled]="isLoading | async"
            (click)="onSubmit()">{{ 'purchase.event.seat.next' | translate }}</button>
        <button type="button" class="btn btn-link" (click)="prev()">{{ 'purchase.event.seat.prev' | translate }}</button>
    </div>

</div>