<div class="bg-light-gray p-3">
    <div>
        <div class="mb-2">
            <p><strong>{{ screeningFilmEvent.info.name.ja }}</strong></p>
            <p *ngIf="screeningFilmEvent.info.workPerformed.headline">{{ screeningFilmEvent.info.workPerformed.headline
                }}</p>
            <p *ngIf="screeningFilmEvent.info.superEvent.description?.ja">{{
                screeningFilmEvent.info.superEvent.description.ja }}</p>
            <p *ngIf="screeningFilmEvent.info.name.en">{{ screeningFilmEvent.info.name.en }}</p>
        </div>
        <div class="d-flex align-items-center">
            <div *ngIf="screeningFilmEvent.info.workPerformed.contentRating" class="text-small bg-dark-gray text-white py-1 px-3 mr-2">{{
                screeningFilmEvent.info.workPerformed.contentRating }}</div>
            <div *ngIf="screeningFilmEvent.info.superEvent.dubLanguage" class="text-small bg-dark-gray text-white py-1 px-3 mr-2">吹替版</div>
            <div *ngIf="screeningFilmEvent.info.superEvent.subtitleLanguage" class="text-small bg-dark-gray text-white py-1 px-3 mr-2">字幕版</div>
            <div *ngIf="screeningFilmEvent.info.workPerformed.duration !== null" class="text-small ml-auto">{{
                moment.duration(screeningFilmEvent.info.workPerformed.duration).asMinutes() }}分</div>
        </div>
    </div>
    <hr class="border-0 bg-gray my-3">
    <ul>
        <li *ngFor="let screeningEvent of screeningFilmEvent.data" class="border boder-gray rounded p-2 py-md-3 text-md-center d-md-block d-flex justify-content-between align-items-center pointer"
            [ngClass]="{ 
            'bg-white': (moment(screeningEvent.doorTime).unix() < moment().unix() && moment(screeningEvent.endDate).unix() > moment().unix()), 
            'bg-gray text-light-gray': !(moment(screeningEvent.doorTime).unix() < moment().unix() && moment(screeningEvent.endDate).unix() > moment().unix())
            }"
            (click)="select.emit(screeningEvent)">
            <div class="mb-md-2 text-small">
                {{ screeningEvent.location.name.ja }}
            </div>
            <div>
                <strong class="text-large">{{ moment(screeningEvent.startDate).format('HH:mm') }}</strong>
                <span>-</span>
                <span>{{ moment(screeningEvent.endDate).format('HH:mm') }}</span>
            </div>
            <hr class="border-0 bg-light-gray my-2">
            <div class="text-center">
                <div class="status mb-2" *ngIf="moment(screeningEvent.doorTime).unix() < moment().unix() && moment(screeningEvent.endDate).unix() > moment().unix()">
                    <div *ngIf="!moment(screeningEvent.startDate).unix() < moment().unix()">開場中</div>
                    <div *ngIf="moment(screeningEvent.startDate).unix() < moment().unix()">上映中</div>
                </div>

                <div class="status mb-2" *ngIf="!(moment(screeningEvent.doorTime).unix() < moment().unix())">開場前</div>
                <div class="status mb-2" *ngIf="!(moment(screeningEvent.endDate).unix() > moment().unix())">上映終了</div>
                <div class="mb-2 text-small">{{ screeningEvent.remainingAttendeeCapacity }} 席 / {{
                    screeningEvent.maximumAttendeeCapacity }} 席</div>
                <div class="text-small">[発券 {{ screeningEvent.checkInCount }} / 入場 {{ screeningEvent.attendeeCount }}]</div>
            </div>
        </li>
    </ul>
</div>