@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
input,
select,
textarea,
ngx-intl-tel-input {
    display: block;
    width: 75%;
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

textarea {
    min-height: 5rem;
}

.form-group:last-child {
    margin-bottom: 0 !important;
}
