<div class="contents-width mx-auto px-3 pt-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.event.schedule.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'purchase.event.schedule.read' | translate"></p>
</div>
<div class="contents-width mx-auto p-3">
    <div class="mb-3">
        <div class="input-group">
            <input type="text" placeholder="Datepicker" class="form-control" #datepicker="bsDatepicker" bsDatepicker
                [(ngModel)]="scheduleDate"
                [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', adaptivePosition: true, showWeekNumbers: false }"
                (bsValueChange)="selectDate($event)" readonly (click)="setDatePicker()"
                (onShown)="onShowPicker($event)">
            <div class="input-group-append pointer" (click)="toggleDatepicker()">
                <span class="input-group-text"><i class="fas fa-caret-down"></i></span>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <p *ngIf="(purchase | async)?.scheduleDate" class="text-primary text-large mb-3">
            {{ 'purchase.event.schedule.selectedDate' | translate: {value: (purchase | async)?.scheduleDate | formatDate: 'YYYY/MM/DD (ddd)'} }}
        </p>
        <p *ngIf="screeningWorkEvents.length === 0" class="mb-3"
            [innerHTML]="'purchase.event.schedule.notfound' | translate"></p>
        <app-purchase-event-performances-confirm *ngFor="let screeningWorkEvent of screeningWorkEvents"
            [screeningWorkEvent]="screeningWorkEvent" [readonly]="true" class="mb-3">
        </app-purchase-event-performances-confirm>
    </div>

    <div *ngIf="environment.PURCHASE_TERMS">
        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.event.schedule.terms' | translate }}</h2>
        <div class="mb-4">
            <app-purchase-terms [language]="(user | async)?.language"></app-purchase-terms>
        </div>
    </div>

    <div class="buttons mx-auto text-center">
        <button *ngIf="!environment.PURCHASE_TERMS" type="submit" class="btn btn-primary btn-block py-3 mb-3"
            [disabled]="screeningWorkEvents.length === 0 || (isLoading | async)"
            (click)="onSubmit()">{{ 'purchase.event.schedule.next' | translate }}</button>
        <button *ngIf="environment.PURCHASE_TERMS" type="submit" class="btn btn-primary btn-block py-3 mb-3"
            [disabled]="screeningWorkEvents.length === 0 || (isLoading | async)"
            (click)="onSubmit()">{{ 'purchase.event.schedule.consent' | translate }}</button>
        <!-- <button type="button" class="btn btn-link"
            routerLink="/purchase/event/schedule">{{ 'purchase.event.schedule.prev' | translate }}</button> -->
    </div>
</div>