<app-header [isClear]="true">
    <app-purchase-step [currentStep]="2"></app-purchase-step>
</app-header>
<div class="contents">
    <div class="container h-100 p-3">
        <div class="row h-100">
            <div class="col-3 h-100">
                <app-seat-info></app-seat-info>
            </div>
            <div class="col-6">
                <app-screen *ngIf="(user | async)?.theater 
                && screeningEventSeats.length > 0 
                && (purchase | async)?.screen" [theaterCode]="(user | async)?.theater.branchCode"
                    [screenCode]="(purchase | async)?.screen.branchCode" [screeningEventSeats]="screeningEventSeats"
                    [openSeatingAllowed]="(purchase | async)?.screen.openSeatingAllowed"
                    [reservations]="(purchase | async)?.reservations"
                    [authorizeSeatReservation]="(purchase | async)?.authorizeSeatReservation"
                    (select)="selectSeat($event)">
                </app-screen>
                <div *ngIf="(purchase | async)?.screen?.openSeatingAllowed" class="mb-4">
                    <div class="d-flex align-items-center">
                        <p class="mr-2">{{ 'purchase.cinema.seat.openSeating' | translate }}</p>
                        <select class="form-control d-inline-block w-auto" (change)="selectOpenSeating($event)"
                            [ngModel]="(purchase | async)?.reservations.length">
                            <option value="0">0</option>
                            <option *ngFor="let value of remainingAttendeeCapacityValue({
                                screeningEvent: (purchase | async)?.screeningEvent,
                                screeningEventSeats: screeningEventSeats,
                                authorizeSeatReservations: (purchase | async)?.authorizeSeatReservations
                            })" [value]="value">{{ value }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <app-purchase-info [purchase]="purchase | async" [isAmount]="false"></app-purchase-info>
            </div>
        </div>
    </div>
</div>
<app-footer>
    <div class="position-absolute d-flex align-items-center h-100">
        <app-transaction-remaining-time></app-transaction-remaining-time>
    </div>
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-3">
                <button type="button" class="btn btn-outline-light btn-block font-weight-bold py-2"
                    (click)="prev()">{{ 'purchase.cinema.seat.prev' | translate }}</button>
            </div>
            <div class="col-3">
                <button *ngIf="!environment.PURCHASE_TERMS" type="submit"
                    class="btn btn-primary btn-block font-weight-bold py-2" [disabled]="isLoading | async"
                    (click)="onSubmit()">{{ 'purchase.cinema.seat.next' | translate }}</button>
                <button *ngIf="environment.PURCHASE_TERMS" type="submit"
                    class="btn btn-primary btn-block font-weight-bold py-2" [disabled]="isLoading | async"
                    (click)="onSubmit()">{{ 'purchase.cinema.seat.consent' | translate }}</button>
            </div>
        </div>
    </div>
</app-footer>