:host {
    display: block;
}
.seat {
    width: 40px * 0.7;
    height: 50px * 0.7;
    border: (3px * 0.7) solid #9a9a9b;
    border-radius: 15px 15px 0 0;
    background-color: #fff;
    &.active {
        color: #fff;
        background-color: #258ac3;
        border-color: #258ac3;
    }
    &.disabled {
        color: #fff;
        background-color: #9a9a9b;
        border-color: #9a9a9b;
    }
    &.space {
        color: #fff;
        background-color: #333;
        border-color: #333;
    }
}
