.item {
    flex: 0 0 16.6%;
    max-width: 16.6%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    &.not-sales {
        .position-relative {
            background-color: #000;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #000;
                opacity: 0.6;
            }
        }
    }
    &.animation {
        .image {
            padding-top: calc(100% * 1.41);
            opacity: 1;
        }
    }
    .image {
        transition: opacity 1s;
        opacity: 0;
        padding-top: 0;
        position: relative;
        background-color: #000;
        overflow: hidden;
        .poster {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .poster-no {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #cbcbcb;
            background-image: url(/default/images/noimage.png);
        }
        .poster-title {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}



.loading {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.loader {
    position: relative;
    text-indent: -9999em;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-left-color: #FFF;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}