<app-header>
    <app-purchase-step [currentStep]="1"></app-purchase-step>
</app-header>
<app-page-title title="{{ 'purchase.cinema.scheduleMovie.title' | translate }}"></app-page-title>
<div class="contents scroll-horizontal">
    <div class="container px-3">
        <div class="row">
            <div *ngFor="let creativeWork of creativeWorks; let index = index" class="item mb-3" [ngClass]="{
                   'not-event not-sales': !isSales(creativeWork.identifier)
               }" [class.animation]="animations[index]"
                (click)="selectCreativeWork(creativeWork)">
                <div class="position-relative">
                    <div class="image">
                        <div class="poster-title d-flex align-items-center">
                            <p class="p-3 text-white text-small">{{ creativeWork.name }}</p>
                        </div>
                        <div class="poster" *ngIf="creativeWork.thumbnailUrl"
                            [style.backgroundImage]="'url('+ creativeWork.thumbnailUrl +')'">
                        </div>
                    </div>
                    <div class="content-rating p-2 bg-dark text-white" *ngIf="getContentRatingType(creativeWork?.contentRating)">
                        {{ getContentRatingType(creativeWork?.contentRating)?.name | changeLanguage }}
                    </div>
                    <p class="p-2 bg-dark text-white text-overflow-ellipsis text-small">{{ creativeWork.name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer>
    <div class="position-absolute d-flex align-items-center h-100">
        <app-transaction-remaining-time></app-transaction-remaining-time>
    </div>
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-3">
                <button type="button" class="text-large btn btn-outline-light btn-block font-weight-bold py-2"
                    routerLink="/purchase/cinema">{{ 'purchase.cinema.scheduleMovie.prev' | translate }}</button>
            </div>
            <div class="col-3">
                <button type="button" class="text-large btn btn-primary btn-block font-weight-bold py-2"
                    disabled>{{ 'purchase.cinema.scheduleMovie.next' | translate }}</button>
            </div>
        </div>
    </div>
</app-footer>