<app-header>
    <app-page-title title="{{ 'purchase.cinema.scheduleMovie.title' | translate }}"></app-page-title>
</app-header>
<div *ngIf="creativeWorks.length === 0" class="contents scroll-vertical">
    <p class="p-3">{{ 'purchase.cinema.scheduleMovie.notfound' | translate }}</p>
</div>
<div *ngIf="creativeWorks.length > 0" class="contents scroll-vertical">
    <div class="container p-3">
        <div class="row">
            <div *ngFor="let creativeWork of creativeWorks; let index = index" class="item mb-3" [ngClass]="{
                   'not-event not-sales': !isSales(creativeWork.identifier)
               }" [class.animation]="animations[index]" (click)="selectCreativeWork(creativeWork)">
                <div class="position-relative mb-2">
                    <div class="image">
                        <div class="poster-title d-flex align-items-center">
                            <p class="p-3 text-white text-small">{{ creativeWork.name | changeLanguage }}</p>
                        </div>
                        <div class="poster" *ngIf="creativeWork.thumbnailUrl"
                            [style.backgroundImage]="'url('+ creativeWork.thumbnailUrl +')'">
                        </div>
                    </div>
                    <div class="content-rating p-2 bg-dark text-white"
                        *ngIf="getContentRatingType(creativeWork?.contentRating)">
                        {{ getContentRatingType(creativeWork?.contentRating)?.name | changeLanguage }}
                    </div>
                </div>
                <p class="text-small">{{ creativeWork.name | changeLanguage }}</p>
            </div>
        </div>
    </div>
</div>
<app-footer>
    <div class="container h-100">
        <div class="row align-items-center justify-content-end h-100">
            <div class="col-6">
                <app-purchase-step [currentStep]="1"></app-purchase-step>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-custom-secondary btn-block py-2 shadow-sm" routerLink="/">
                    {{ 'common.clear' | translate }}
                </button>
            </div>
            <div class="col-2">
                <button type="button"
                    class="text-large btn btn-custom-secondary btn-block font-weight-bold shadow-sm py-3"
                    routerLink="/purchase/cinema">
                    {{ 'purchase.cinema.scheduleMovie.prev' | translate }}
                </button>
            </div>
            <div class="col-2">
                <button type="button"
                    class="text-large btn btn-custom-primary btn-block font-weight-bold shadow-sm py-3" disabled>
                    {{ 'purchase.cinema.scheduleMovie.next' | translate }}
                </button>
            </div>
        </div>
    </div>
</app-footer>