<app-header [isClear]="true">
    <app-purchase-step [currentStep]="4"></app-purchase-step>
</app-header>
<app-page-title title="{{ 'purchase.payment.title' | translate }}"></app-page-title>
<div class="contents">
    <div class="container h-100 px-3 pb-3">
        <div class="row h-100">
            <div class="col-3 h-100">
                <img class="w-100" src="/default/images/purchase/payment/info.svg">
            </div>
            <div class="col-6">
                <div *ngIf="amount > 0" class="container px-0">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <button *ngIf="isDisplay(paymentMethodType.Cash)" type="button"
                                class="btn btn-outline-primary btn-block py-5"
                                (click)="selectPaymentMethodType(paymentMethodType.Cash)">
                                <p class="text-large">{{ 'common.paymentMethodType.cash.label' | translate }}</p>
                            </button>
                        </div>
                        <div class="col-6 mb-3">
                            <button *ngIf="isDisplay(paymentMethodType.CreditCard)" type="button"
                                class="btn btn-outline-primary btn-block py-5"
                                (click)="selectPaymentMethodType(paymentMethodType.CreditCard)">
                                <p class="text-large">{{ 'common.paymentMethodType.creditCard.label' | translate }}</p>
                            </button>
                        </div>
                        <div class="col-6 mb-3">
                            <button *ngIf="isDisplay(paymentMethodType.EMoney)" type="button"
                                class="btn btn-outline-primary btn-block py-5"
                                (click)="selectPaymentMethodType(paymentMethodType.EMoney)">
                                <p class="text-large">{{ 'common.paymentMethodType.eMoney.label' | translate }}</p>
                            </button>
                        </div>
                        <div class="col-6 mb-3" *ngFor="let custom of environment.PAYMENT_METHOD_CUSTOM">
                            <button type="button" class="btn btn-outline-primary btn-block py-5"
                                (click)="selectPaymentMethodType(paymentMethodType.Others, custom.category)">
                                <p class="text-large">{{ custom.name | changeLanguage }}</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="amount === 0" class="container px-0">
                    
                </div>
            </div>
            <div class="col-3 mh-100">
                <app-purchase-info [purchase]="purchase | async" [isAmount]="true"></app-purchase-info>
            </div>
        </div>
    </div>
</div>
<app-footer>
    <div class="position-absolute d-flex align-items-center h-100">
        <app-transaction-remaining-time></app-transaction-remaining-time>
    </div>
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-3">
                <div *ngIf="environment.VIEW_TYPE === viewType.Cinema">
                    <button type="button" class="text-large btn btn-outline-light btn-block font-weight-bold py-2"
                        routerLink="/purchase/cinema/ticket">{{ 'purchase.payment.prev' | translate }}</button>
                </div>
                <div *ngIf="environment.VIEW_TYPE === viewType.Event">
                    <button type="button" class="text-large btn btn-outline-light btn-block font-weight-bold py-2"
                        routerLink="/purchase/event/ticket">{{ 'purchase.payment.prev' | translate }}</button>
                </div>
            </div>
            <div class="col-3">
                <button *ngIf="amount > 0" type="submit" class="text-large btn btn-primary btn-block font-weight-bold py-2"
                    disabled>{{ 'purchase.payment.next' | translate }}</button>
                <button *ngIf="amount === 0" type="submit" routerLink="/purchase/payment/reception" class="text-large btn btn-primary btn-block font-weight-bold py-2"
                    >{{ 'purchase.payment.next' | translate }}</button>
            </div>
        </div>
    </div>
</app-footer>