<div class="contents-width mx-auto px-3 py-5">

    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.payment.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'purchase.payment.read' | translate"></p>

    <div class="payment-select d-grid mb-4">
        <button *ngIf="isDisplay(paymentMethodType.Cash)" type="button" class="btn btn-primary btn-block py-3 m-0"
            (click)="selectPaymentMethodType(paymentMethodType.Cash)">
            <div class="mb-md-3">
                <i class="fas fa-yen-sign mr-2 d-md-none"></i>{{ 'common.paymentMethodType.cash' | translate }}
            </div>
            <div class="image d-none d-md-block"><i class="fas fa-yen-sign"></i></div>
        </button>
        <button *ngIf="isDisplay(paymentMethodType.CreditCard)" type="button" class="btn btn-primary btn-block py-3 m-0"
            (click)="selectPaymentMethodType(paymentMethodType.CreditCard)">
            <div class="mb-md-3">
                <i class="fas fa-credit-card mr-2 d-md-none"></i>{{ 'common.paymentMethodType.creditCard' | translate }}
            </div>
            <div class="image d-none d-md-block"><i class="fas fa-credit-card"></i></div>
        </button>
        <button *ngIf="isDisplay(paymentMethodType.EMoney)" type="button" class="btn btn-primary btn-block py-3 m-0"
            (click)="selectPaymentMethodType(paymentMethodType.EMoney)">
            <div class="mb-md-3">
                <i class="fas fa-mobile-alt mr-2 d-md-none"></i>{{ 'common.paymentMethodType.eMoney' | translate }}
            </div>
            <div class="image d-none d-md-block"><i class="fas fa-mobile-alt"></i></div>
        </button>
        <button *ngIf="isDisplay('RegiGrow')" type="button" class="btn btn-primary btn-block py-3 m-0"
            (click)="selectPaymentMethodType(paymentMethodType.Others, 'RegiGrow')">
            <div class="mb-md-3">
                <i class="fas fa-cash-register mr-2 d-md-none"></i>{{ 'common.paymentMethodType.regiGrow' | translate }}
            </div>
            <div class="image d-none d-md-block"><i class="fas fa-cash-register"></i></div>
        </button>
        <button *ngIf="isDisplay(paymentMethodType.Others)" type="button" class="btn btn-primary btn-block py-3 m-0"
            (click)="selectPaymentMethodType(paymentMethodType.Others)">
            <div class="mb-md-3">
                <i class="far fa-question-circle mr-2 d-md-none"></i>{{ 'common.paymentMethodType.others' | translate }}
            </div>
            <div class="image d-none d-md-block"><i class="far fa-question-circle"></i></div>
        </button>
        <button *ngFor="let custom of environment.PAYMENT_METHOD_CUSTOM" type="button" class="btn btn-primary btn-block py-3 m-0"
            (click)="selectPaymentMethodType(paymentMethodType.Others, custom.category)">
            <div>{{ custom.name | changeLanguage }}</div>
        </button>
    </div>

    <div class="buttons mx-auto text-center">
        <div *ngIf="environment.VIEW_TYPE === viewType.Cinema">
            <button type="button" class="btn btn-outline-primary btn-block py-3"
                routerLink="/purchase/cinema/ticket">{{ 'purchase.payment.prev' | translate }}</button>
        </div>
        <div *ngIf="environment.VIEW_TYPE === viewType.Event">
            <button type="button" class="btn btn-outline-primary btn-block py-3"
                routerLink="/purchase/event/ticket">{{ 'purchase.payment.prev' | translate }}</button>
        </div>

    </div>
</div>