@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

:host {
    display: block;
}
.performance {
    width: 25%;
    @include media-breakpoint-down(sm) {
        width: 50%;
    }
}

.status {
    line-height: 15px;
    img {
        width: 15px;
        height: 15px;
    }
}
