<div>
    <div class="bg-gray p-3">
        <div class="mb-2">
            <p class="font-weight-bold text-large">{{ screeningWorkEvent.info.name | changeLanguage }}</p>
            <p class="text-small"
                *ngIf="screeningWorkEvent.info.superEvent.headline && (screeningWorkEvent.info.superEvent.headline | changeLanguage)">
                {{ screeningWorkEvent.info.superEvent.headline | changeLanguage }}</p>
            <p class="text-small"
                *ngIf="screeningWorkEvent.info.superEvent.description && (screeningWorkEvent.info.superEvent.description | changeLanguage)">{{
                screeningWorkEvent.info.superEvent.description | changeLanguage }}</p>
        </div>
        <div class="d-flex align-items-center">
            <div *ngIf="screeningWorkEvent.info.workPerformed?.duration && moment.duration(screeningWorkEvent.info.workPerformed?.duration).asMinutes() > 0" class="text-small ml-auto">
                <span class="mr-1">{{ 'common.duration' | translate }}</span>{{ moment.duration(screeningWorkEvent.info.workPerformed?.duration).asMinutes() }}{{ 'common.date.minute' | translate }}</div>
        </div>
    </div>
    <div class="p-3 bg-white d-flex flex-wrap" [class.not-event]="readonly">
        <div *ngFor="let performance of screeningWorkEvent.data"
            class="performance my-2"
            [ngClass]="{ 'text-dark-gray': !performance.isSales() || performance.isSeatStatus('danger') }">
            <div class="d-flex align-items-center">
                <div class="mr-2 font-weight-bold">{{ moment(performance.screeningEvent.startDate).format('HH:mm') }}-{{ moment(performance.screeningEvent.endDate).format('HH:mm') }}</div>
                <div class="status"
                    *ngIf="performance.isSales() && !performance.isInfinitetock()">
                    <div *ngIf="performance.isSeatStatus('success')">
                        <img src="/assets/images/icon/status_success.svg" alt="">
                    </div>
                    <div *ngIf="performance.isSeatStatus('warning')"
                        class="d-flex justify-content-around align-items-center">
                        <img src="/assets/images/icon/status_warning.svg" alt="">
                    </div>
                    <div *ngIf="performance.isSeatStatus('danger')">
                        <img src="/assets/images/icon/status_danger_color.svg" alt="">
                    </div>
                    <div *ngIf="performance.isSeatStatus()">
                        <img src="/assets/images/icon/status_undefined.svg" alt="">
                    </div>
                </div>

                <div class="status" *ngIf="performance.isSales() && performance.isInfinitetock()">
                    <div class="d-flex justify-content-around align-items-center">
                        <img src="/assets/images/icon/status_success.svg" alt="">
                    </div>
                </div>

                <div class="status text-x-small" *ngIf="performance.isSales('end')">
                    {{ 'purchase.event.schedule.status.endSale' | translate }}</div>
                <div class="status text-x-small" *ngIf="performance.isSales('start')">
                    {{ 'purchase.event.schedule.status.outsideSalesPeriod' | translate }}</div>
            </div>
        </div>
    </div>
</div>