<div class="container px-2">
    <ul class="row align-items-center text-small text-white">
        <li class="step px-0">
            <p [ngClass]="{
                'bg-primary': step === 1,
                'bg-dark-gray': step !== 1
            }" class="p-2">{{ 'purchase.cinema.step.1' | translate }}</p>
        </li>
        <li class="step px-0">
            <p [ngClass]="{
                'bg-primary': step === 2,
                'bg-dark-gray': step !== 2
            }" class="p-2">{{ 'purchase.cinema.step.2' | translate }}</p>
        </li>
        <li class="step px-0">
            <p [ngClass]="{
                'bg-primary': step === 3,
                'bg-dark-gray': step !== 3
            }" class="p-2">{{ 'purchase.cinema.step.3' | translate }}</p>
        </li>
        <li class="step px-0">
            <p [ngClass]="{
                'bg-primary': step === 4,
                'bg-dark-gray': step !== 4
            }" class="p-2">{{ 'purchase.cinema.step.4' | translate }}</p>
        </li>
        <li class="step px-0">
            <p [ngClass]="{
                'bg-primary': step === 5,
                'bg-dark-gray': step !== 5
            }" class="p-2">{{ 'purchase.cinema.step.5' | translate }}</p>
        </li>
    </ul>
</div>