<ul class="d-flex align-items-center h-100">
    <li class="step px-0 h-100" *ngFor="let step of steps">
        <div [class.d-none]="currentStep !== step" class="px-4 bg-white h-100">
            <div class="d-flex align-items-center h-100">
                <div class="text-x-large font-weight-bold mr-2">0{{ step }}</div>
                <p class="text-x-small" [innerHtml]="'purchase.cinema.step.' + step | translate"></p>
            </div>
        </div>
        <div [class.d-none]="currentStep === step" [class.d-flex]="currentStep !== step"
            class="px-4 h-100 align-items-center">
            0{{ step }}
        </div>
    </li>
</ul>