

:host {
    display: block;
}
ul {
    li {
        flex: 0 0 20%;
        max-width: 20%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.animation {
    animation: fadeIn 0.5s both;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}