@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

:host {
    display: block;
}
ul {
    li {
        width: 20%;
        @include media-breakpoint-down(md) {
            width: 25%;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
}
