<div class="bg-white">
    <div class="p-3 bg-gray">
        <div class="mb-2">
            <p class="font-weight-bold text-large">{{ screeningWorkEvent.info.name | changeLanguage }}</p>
            <p
                *ngIf="screeningWorkEvent.info.superEvent.headline && (screeningWorkEvent.info.superEvent.headline | changeLanguage)">
                {{ screeningWorkEvent.info.superEvent.headline | changeLanguage }}</p>
            <p
                *ngIf="screeningWorkEvent.info.superEvent.description && (screeningWorkEvent.info.superEvent.description | changeLanguage)">{{
                    screeningWorkEvent.info.superEvent.description | changeLanguage }}</p>
        </div>
        <div class="d-flex align-items-center">
            <div *ngIf="screeningWorkEvent.info.workPerformed?.contentRating"
                class="text-small bg-dark-gray text-white py-1 px-3 mr-2">{{
                    screeningWorkEvent.info.workPerformed?.contentRating }}</div>
            <div *ngIf="screeningWorkEvent.info.superEvent.dubLanguage"
                class="text-small bg-dark-gray text-white py-1 px-3 mr-2">{{ 'common.dubbing' | translate }}</div>
            <div *ngIf="screeningWorkEvent.info.superEvent.subtitleLanguage"
                class="text-small bg-dark-gray text-white py-1 px-3 mr-2">{{ 'common.subtitles' | translate }}</div>
            <div *ngIf="screeningWorkEvent.info.workPerformed?.duration && moment.duration(screeningWorkEvent.info.workPerformed?.duration).asMinutes() > 0"
                class="text-small ml-auto">
                <span
                    class="mr-1">{{ 'common.duration' | translate }}</span>{{ moment.duration(screeningWorkEvent.info.workPerformed?.duration).asMinutes() }}{{ 'common.date.minute' | translate }}
            </div>
        </div>
    </div>
    <ul class="py-2 px-3 px-md-2 d-flex flex-wrap">
        <li *ngFor="let performance of screeningWorkEvent.data" class="px-md-2 my-2">
            <app-purchase-performance [performance]="performance" (select)="select.emit($event)"
                class="mb-3"></app-purchase-performance>
        </li>
    </ul>
</div>