<div class="">
    <div class="p-3 bg-light-gray">
        <div class="mb-2">
            <p class="font-weight-bold">{{ screeningEventsGroup.info.name | changeLanguage }}</p>
            <p
                *ngIf="screeningEventsGroup.info.superEvent.headline && (screeningEventsGroup.info.superEvent.headline | changeLanguage)">
                {{ screeningEventsGroup.info.superEvent.headline | changeLanguage }}</p>
            <p class="text-small"
                *ngIf="screeningEventsGroup.info.superEvent.description && (screeningEventsGroup.info.superEvent.description | changeLanguage)">{{
                    screeningEventsGroup.info.superEvent.description | changeLanguage }}</p>
        </div>
        <div class="d-flex align-items-center">
            <div *ngIf="screeningEventsGroup.info.workPerformed?.contentRating"
                class="text-small bg-dark-gray text-white py-1 px-3 mr-2">{{
                    screeningEventsGroup.info.workPerformed?.contentRating }}</div>
            <div *ngIf="screeningEventsGroup.info.superEvent.dubLanguage"
                class="text-small bg-dark-gray text-white py-1 px-3 mr-2">{{ 'common.dubbing' | translate }}</div>
            <div *ngIf="screeningEventsGroup.info.superEvent.subtitleLanguage"
                class="text-small bg-dark-gray text-white py-1 px-3 mr-2">{{ 'common.subtitles' | translate }}</div>
            <div *ngIf="screeningEventsGroup.info.workPerformed?.duration && moment.duration(screeningEventsGroup.info.workPerformed?.duration).asMinutes() > 0"
                class="text-small ml-auto">
                <span
                    class="mr-1">{{ 'common.duration' | translate }}</span>{{ moment.duration(screeningEventsGroup.info.workPerformed?.duration).asMinutes() }}{{ 'common.date.minute' | translate }}
            </div>
        </div>
    </div>
    <div class="container px-0 py-2">
        <ul *ngIf="animation" class="row animation">
            <li *ngFor="let performance of screeningEventsGroup.data" class="px-2 my-2">
                <app-purchase-performance [performance]="performance" (select)="select.emit($event)" class="mb-3">
                </app-purchase-performance>
            </li>
        </ul>
    </div>
</div>