<div class="p-3 pointer h-100 btn btn-block text-left" [ngClass]="{  
                'bg-dark-gray text-light-gray not-event': !performance.isSales() || performance.isSeatStatus('danger'),
                'btn-custom-warning': performance.isSales() && performance.isSeatStatus('warning'),
                'btn-custom-success': performance.isSales()
                }" (click)="select.emit(performance.screeningEvent)">
    <div class="container px-0">
        <div class="row align-items-center">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
                <div class="mb-1 align-middle">
                    <span class="text-large font-weight-bold">{{
                        moment(performance.screeningEvent.startDate).format('HH:mm') }}</span>
                    <span>-</span>
                    <span>{{ moment(performance.screeningEvent.endDate).format('HH:mm') }}</span>
                </div>
                <div class="mb-1 text-small screen-name text-overflow-ellipsis">
                    <p *ngIf="performance.screeningEvent.location.address | changeLanguage" class="mr-2 d-inline-block">
                        {{ performance.screeningEvent.location.address | changeLanguage }}</p>
                    <p class="d-inline-block">
                        {{ performance.screeningEvent.location.name | changeLanguage }}</p>
                    <p *ngIf="performance.screeningEvent.maximumAttendeeCapacity">
                        {{ 'common.seatValue' | translate: { value: performance.screeningEvent.maximumAttendeeCapacity }
                        }}
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-3 pl-md-0">
                <div class="status text-center" *ngIf="performance.isSales() && !performance.isInfinitetock()">
                    <div *ngIf="performance.isSeatStatus('success')">
                        <img src="/assets/images/icon/status_success.svg" alt="">
                    </div>
                    <div *ngIf="performance.isSeatStatus('warning')">
                        <img src="/assets/images/icon/status_warning.svg" alt="">
                    </div>
                    <div *ngIf="performance.isSeatStatus('danger')" class="text-small">
                        <!-- {{ 'common.performance.status.danger' | translate }} -->
                        <img src="/assets/images/icon/status_danger.svg" alt="">
                    </div>
                    <div *ngIf="performance.isSeatStatus()">
                        <img src="/assets/images/icon/status_undefined.svg" alt="">
                    </div>
                </div>

                <div class="status text-center text-small" *ngIf="performance.isSales('end')">
                    <!-- {{ 'common.performance.status.endSale' | translate }} -->
                    <img src="/assets/images/icon/status_danger.svg" alt="">
                </div>
                <div class="status text-center text-small" *ngIf="performance.isSales('start')">
                    <!-- {{ 'common.performance.status.outsideSalesPeriod' | translate }} -->
                    <img src="/assets/images/icon/status_danger.svg" alt="">
                </div>
                <div *ngIf="performance.isSales() && performance.isInfinitetock()" class="status text-center">
                    <img src="/assets/images/icon/status_success.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>