<div class="row mx-0 border boder-gray rounded p-3 py-md-3 text-md-center d-md-block align-items-center pointer h-100"
    [ngClass]="{ 
                'bg-white': performance.isSales() && !performance.isSeatStatus('danger'), 
                'bg-dark-gray text-light-gray': !performance.isSales() 
                || performance.isSeatStatus('danger') 
                || (performance.isInfinitetock() && environment.VIEW_TYPE === viewType.Cinema)
                }" [class.not-event]="performance.isInfinitetock() && environment.VIEW_TYPE === viewType.Cinema"
    (click)="select.emit(performance.screeningEvent)">
    <div class="col-md-12 col-8 px-0">
        <div class="mb-1 text-small screen-name">
            <p *ngIf="performance.screeningEvent.location.address | changeLanguage"
                class="text-overflow-ellipsis mr-2 d-inline-block d-md-block">
                {{ performance.screeningEvent.location.address | changeLanguage }}</p>
            <p class="text-overflow-ellipsis d-inline-block d-md-block">
                {{ performance.screeningEvent.location.name | changeLanguage }}</p>
        </div>
        <div>
            <strong class="text-large">{{ moment(performance.screeningEvent.startDate).format('HH:mm') }}</strong>
            <span>-</span>
            <span>{{ moment(performance.screeningEvent.endDate).format('HH:mm') }}</span>
        </div>
    </div>
    <hr class="border-0 bg-light-gray my-2">
    <div class="col-md-12 col-4 px-0 text-center">
        <div class="status mb-2" *ngIf="performance.isSales() && !performance.isInfinitetock()">
            <div *ngIf="performance.isSeatStatus('success')" class="d-flex justify-content-center align-items-center">
                <div class="text-success mr-2">
                    {{ 'common.performance.status.success' | translate }}</div>
                <img src="/assets/images/icon/status_success.svg" alt="">
            </div>
            <div *ngIf="performance.isSeatStatus('warning')" class="d-flex justify-content-center align-items-center">
                <div class="text-warning mr-2">
                    {{ 'common.performance.status.warning' | translate }}</div>
                <img src="/assets/images/icon/status_warning.svg" alt="">
            </div>
            <div *ngIf="performance.isSeatStatus('danger')" class="d-flex justify-content-center align-items-center">
                <div class="text-danger mr-2">
                    {{ 'common.performance.status.danger' | translate }}</div>
                <img src="/assets/images/icon/status_danger.svg" alt="">
            </div>
            <div *ngIf="performance.isSeatStatus()" class="d-flex justify-content-center align-items-center">
                <div class="mr-2 mr-md-0">
                    {{ 'common.performance.status.success' | translate }}</div>
                <img src="/assets/images/icon/status_undefined.svg" alt="">
            </div>
        </div>

        <div class="status mb-2" *ngIf="performance.isSales('end')">
            {{ 'common.performance.status.endSale' | translate }}</div>
        <div class="status mb-2" *ngIf="performance.isSales('start')">
            {{ 'common.performance.status.outsideSalesPeriod' | translate }}</div>
        <div *ngIf="!performance.isInfinitetock()" class="mb-2 text-small">{{ 'common.seat' | translate }}
            {{ performance.screeningEvent.remainingAttendeeCapacity }} /
            {{ performance.screeningEvent.maximumAttendeeCapacity }}
        </div>
        <div *ngIf="performance.isInfinitetock()" class="mb-2 text-small">
            {{ 'common.performance.infiniteStock' | translate }}</div>
        <div class="text-small mb-1">{{ 'common.ticketing' | translate }} {{ performance.screeningEvent.checkInCount }}
        </div>
        <div class="text-small">{{ 'common.admission' | translate }} {{ performance.screeningEvent.attendeeCount }}
        </div>
    </div>
</div>