@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.status {
    line-height: 30px;
    img {
        width: 30px;
        height: 30px;
    }
}

.text-overflow-ellipsis {
    @include media-breakpoint-down(sm) {
        overflow: auto;
        width: auto;
        white-space: normal;
    }
}