<header class="fixed-top bg-light-gray text-white shadow-sm border-bottom border-gray">
    <hr class="bg-primary m-0 border-0">
    <div class="header contents-width mx-auto d-flex align-items-center justify-content-between px-3">
        <div class="logo"><img src="/assets/images/logo.svg"></div>
        <div class="menu-button" [class.active]="isMenuOpen" (click)="(isMenuOpen) ? menuClose() : menuOpen()">
            <div class="bg-dark-gray"></div>
            <div class="bg-dark-gray"></div>
            <div class="bg-dark-gray"></div>
        </div>
    </div>
</header>

<app-header-menu [isOpen]="isMenuOpen" (close)="menuClose()"></app-header-menu>