<app-header>
    <app-page-title title="プロジェクト選択"></app-page-title>
</app-header>
<div class="contents scroll-vertical">
    <div class="p-3" *ngIf="(master | async)?.projects.length > 0">
        <div class="container px-0">
            <ul class="row">
                <li *ngFor="let project of (master | async)?.projects" class="col-3 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="mr-2"><img [src]="project.logo" class="logo" [alt]="project.name"></div>
                                <p class="text-small font-weight-bold text-overflow-ellipsis">{{ project.name }}</p>
                            </div>
                            <a class="btn btn-custom-primary px-3 mr-3" [href]="'/?projectId=' + project.id">起動</a>
                            <a class="btn btn-custom-primary px-3"
                                [href]="'/?projectId=' + project.id + '#/setting'">設定</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<app-footer>
    <div class="container h-100">
        <div class="row align-items-center justify-content-end h-100">
            <div class="col-2">
                <button type="button" class="btn btn-custom-secondary btn-block font-weight-bold py-3"
                    (click)="signOut()">ログアウト</button>
            </div>
        </div>
    </div>
</app-footer>


<app-loading [isLoading]="isLoading | async" process="process.masterAction.GetProjects"></app-loading>