<app-header [isClear]="true">
    <app-purchase-step [step]="1"></app-purchase-step>
</app-header>
<div class="contents scroll-horizontal">
    <div class="p-3">
        <app-purchase-performances *ngFor="let group of screeningEventsGroup" [screeningEventsGroup]="group"
            (select)="selectSchedule($event)" class="">
        </app-purchase-performances>
    </div>
</div>
<app-footer>
    <div class="mr-auto">
        <button class="btn btn-outline-primary"
            routerLink="/purchase/cinema/schedule/movie">{{ 'purchase.cinema.scheduleMovie.prev' | translate }}</button>
    </div>
</app-footer>