<app-header [isClear]="true">
    <app-purchase-step [currentStep]="1"></app-purchase-step>
</app-header>
<div class="contents scroll-horizontal">
    <div class="p-3">
        <app-purchase-performances *ngFor="let group of screeningEventsGroup; let index = index" [screeningEventsGroup]="group" [animation]="animations[index]"
            (select)="selectSchedule($event)" class="">
        </app-purchase-performances>
    </div>
</div>
<app-footer>
    <div class="position-absolute d-flex align-items-center h-100">
        <app-transaction-remaining-time></app-transaction-remaining-time>
    </div>
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-3">
                <button type="button" class="btn btn-outline-light btn-block font-weight-bold py-2"
                    routerLink="/purchase/cinema/schedule/movie">{{ 'purchase.cinema.scheduleMovie.prev' | translate }}</button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-primary btn-block font-weight-bold py-2"
                    disabled>{{ 'purchase.cinema.scheduleMovie.next' | translate }}</button>
            </div>
        </div>
    </div>
</app-footer>