<app-header [step]="1">
    <app-page-title title="{{ 'purchase.cinema.schedule.title' | translate }}"></app-page-title>
    <app-transaction-remaining-time class="ml-auto"></app-transaction-remaining-time>
</app-header>
<div *ngIf="screeningEventsGroup.length === 0" class="contents scroll-vertical">
    <p class="p-3">{{ 'purchase.cinema.schedule.notfound' | translate }}</p>
</div>
<div *ngIf="screeningEventsGroup.length > 0" class="contents scroll-vertical">
    <div class="p-3">
        <div *ngFor="let group of screeningEventsGroup" class="mb-3">
            <div class="container px-0">
                <div class="row align-items-stretch">
                    <div class="col-2 col-md-1">
                        <div class="border-left border-dark p-3 h-100">
                            {{ moment(group.screeningEvent.startDate).format('HH') }}:00
                        </div>
                    </div>
                    <div class="col-10 col-md-11">
                        <div class="pt-3">
                            <div *ngFor="let performance of group.data" class="btn btn-block text-left p-3 mb-3 pointer"
                                [ngClass]="{ 
                                'bg-dark-gray text-light-gray not-event': !performance.isSales() || performance.isSeatStatus('danger'),
                                'btn-custom-warning': performance.isSales() && performance.isSeatStatus('warning'),
                                'btn-custom-success': performance.isSales()
                                }" (click)="selectSchedule(performance.screeningEvent)">
                                <div class="container px-0">
                                    <div class="row align-items-center">
                                        <div class="col-2 col-md-1 text-center">
                                            <div class="status"
                                                *ngIf="performance.isSales() && !performance.isInfinitetock()">
                                                <div *ngIf="performance.isSeatStatus('success')">
                                                    <img src="/assets/images/icon/status_success.svg" alt="">
                                                </div>
                                                <div *ngIf="performance.isSeatStatus('warning')">
                                                    <img src="/assets/images/icon/status_warning.svg" alt="">
                                                </div>
                                                <div *ngIf="performance.isSeatStatus('danger')">
                                                    <!-- {{ 'common.performance.status.danger' | translate }} -->
                                                    <img src="/assets/images/icon/status_danger.svg" alt="">
                                                </div>
                                                <div *ngIf="performance.isSeatStatus()">
                                                    <img src="/assets/images/icon/status_undefined.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="status" *ngIf="performance.isSales('end')">
                                                <!-- {{ 'common.performance.status.endSale' | translate }} -->
                                                <img src="/assets/images/icon/status_danger.svg" alt="">
                                            </div>
                                            <div class="status" *ngIf="performance.isSales('start')">
                                                <!-- {{ 'common.performance.status.outsideSalesPeriod' | translate }} -->
                                                <img src="/assets/images/icon/status_danger.svg" alt="">
                                            </div>
                                            <div *ngIf="performance.isSales() && performance.isInfinitetock()"
                                                class="status">
                                                <img src="/assets/images/icon/status_success.svg" alt="">
                                                <!-- <p class="text-small">{{ 'common.performance.infiniteStock' | translate }}</p> -->
                                            </div>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <span class="text-x-large font-weight-bold">{{
                                                moment(performance.screeningEvent.startDate).format('HH:mm') }}</span>
                                            <span>-</span>
                                            <span>{{ moment(performance.screeningEvent.endDate).format('HH:mm')
                                                }}</span>
                                        </div>
                                        <div class="col-6 col-md-8">
                                            <div class="screen-name d-flex align-items-center mb-1 font-weight-bold">
                                                <p *ngIf="performance.screeningEvent.location.address | changeLanguage"
                                                    class="mr-2">
                                                    {{ performance.screeningEvent.location.address | changeLanguage }}
                                                </p>
                                                <p class="mr-2">
                                                    {{ performance.screeningEvent.location.name | changeLanguage }}
                                                </p>
                                                <p *ngIf="performance.screeningEvent.maximumAttendeeCapacity" class="">
                                                    {{ 'common.seatValue' | translate: { value:
                                                    performance.screeningEvent.maximumAttendeeCapacity } }}
                                                </p>
                                            </div>
                                            <p class="font-weight-bold text-large">
                                                {{ performance.screeningEvent.name | changeLanguage }}</p>
                                            <p *ngIf="performance.screeningEvent.superEvent.headline 
                                                && (performance.screeningEvent.superEvent.headline | changeLanguage)">
                                                {{ performance.screeningEvent.superEvent.headline | changeLanguage }}
                                            </p>
                                            <p class="text-small"
                                                *ngIf="performance.screeningEvent.superEvent.description 
                                                && (performance.screeningEvent.superEvent.description | changeLanguage)">
                                                {{ performance.screeningEvent.superEvent.description | changeLanguage }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3" *ngIf="getScreeningEventSeries(performance.screeningEvent.superEvent.id) 
                                && getCreativeWorks(performance.screeningEvent.workPerformed?.identifier);">
                                    <div class="d-flex align-items-center">
                                        <div *ngIf="getContentRatingType(getCreativeWorks(performance.screeningEvent.workPerformed?.identifier)?.contentRating)"
                                            class="content-rating text-small bg-white py-1 px-3 mr-2">
                                            {{
                                            getContentRatingType(getCreativeWorks(performance.screeningEvent.workPerformed?.identifier)?.contentRating)?.name
                                            | changeLanguage }}
                                        </div>
                                        <div *ngIf="getScreeningEventSeries(performance.screeningEvent.superEvent.id)?.dubLanguage"
                                            class="dub-language text-small bg-white py-1 px-3 mr-2">
                                            {{ 'common.dubbing' | translate }}
                                        </div>
                                        <div *ngIf="getScreeningEventSeries(performance.screeningEvent.superEvent.id)?.subtitleLanguage"
                                            class="subtitle-language text-small bg-white py-1 px-3 mr-2">
                                            {{ 'common.subtitles' | translate }}
                                        </div>
                                        <div *ngFor="let videoFormat of getScreeningEventSeries(performance.screeningEvent.superEvent.id)?.videoFormat"
                                            class="video-format text-small bg-white py-1 px-2 mr-2">
                                            {{ getVideoFormatType(videoFormat.typeOf)?.name | changeLanguage }}
                                        </div>
                                        <div *ngIf="performance.screeningEvent.workPerformed?.duration && moment.duration(performance.screeningEvent.workPerformed?.duration).asMinutes() > 0"
                                            class="text-small ml-auto">
                                            <div class="d-inline-flex py-1 px-2 bg-white text-small rounded">
                                                <div class="mr-1">{{ 'common.duration' | translate }}</div>
                                                <div>
                                                    {{
                                                    moment.duration(performance.screeningEvent.workPerformed?.duration).asMinutes()
                                                    }}
                                                </div>
                                                <div>
                                                    {{ 'common.date.minute' | translate }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer [step]="1">
    <div class="col-3 col-md-2 mr-auto mr-md-0">
        <button type="button" class="btn btn-custom-secondary btn-block py-2 shadow-sm" routerLink="/">
            {{ 'common.clear' | translate }}
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button type="button" class="text-large btn btn-custom-secondary btn-block font-weight-bold shadow-sm py-3"
            routerLink="/purchase/cinema">
            {{ 'purchase.cinema.schedule.prev' | translate }}
        </button>
    </div>
    <div class="col-3 col-md-2">
        <button type="button" class="text-large btn btn-custom-primary btn-block font-weight-bold shadow-sm py-3"
            disabled>
            {{ 'purchase.cinema.schedule.next' | translate }}
        </button>
    </div>
</app-footer>