<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.cinema.schedule.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'purchase.cinema.schedule.read' | translate"></p>
    <div class="mb-3">
        <div class="input-group">
            <input type="text" placeholder="Datepicker" class="form-control" #datepicker="bsDatepicker" bsDatepicker
                [(ngModel)]="scheduleDate"
                [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', adaptivePosition: true, showWeekNumbers: false }"
                (bsValueChange)="selectDate($event)" readonly (click)="setDatePicker()"
                (onShown)="onShowPicker($event)">
            <div class="input-group-append pointer" (click)="toggleDatepicker()">
                <span class="input-group-text"><i class="fas fa-caret-down"></i></span>
            </div>
        </div>
    </div>
    <p *ngIf="(purchase | async)?.scheduleDate" class="text-primary text-large mb-3">
        {{ (purchase | async)?.scheduleDate | formatDate: 'YYYY/MM/DD (ddd)' }}
    </p>
    <p *ngIf="screeningWorkEvents.length === 0" class="mb-3"
        [innerHTML]="'purchase.cinema.schedule.notfound' | translate"></p>
    <app-purchase-performances *ngFor="let screeningWorkEvent of screeningWorkEvents"
        [screeningWorkEvent]="screeningWorkEvent" (select)="selectSchedule($event)" class="mb-3">
    </app-purchase-performances>
</div>